[2022-09-20 15:15] holanita opened #8 "[WG] Discuss PR FAQ"

[2022-09-20 15:16] holanita opened #7 "[WG] Discuss resources needed"
Outlined [in the PR FAQ](https://github.com/Green-Software-Foundation/pr-faqs/blob/9370ee84b27df0e57ec0ae8d4be18730c8cd67af/live/state-of-green-software.pr-faq.md) and discussed in the WG call on Sept 7 – What resources are required?
- Researcher (to perform interviews and gather information)
- Technical Author (to write up the content of the report)
- Project Manager (to ensure we deliver on time

[2022-09-20 15:16] holanita opened #6 "[WG] Discuss rough timeline"

[2022-09-20 15:16] #6 closed

[2022-09-20 15:17] #8 closed

[2022-09-20 15:21] holanita opened #9 "[PM] Draft planning and milestones"
[available here for review and discussion](https://docs.google.com/document/d/1dmKSWMJ5BIAPmkpiy_d3X1pHqC3sfTVd6TmkybrnSkE/edit?usp=sharing) – please request access if needed

[2022-09-20 15:21] holanita opened #10 "[REPORT] Draft report outline"
Why: we should all have a common and clear understanding of what is needed
What: prepare the outline of the future SOGS report

Scope:
- [x] Anita to prepare [the first draft](https://docs.google.com/document/d/1qjGonShs-2G0ia4xPLi55oBQubQnwfDSjgo52hWlcIs/edit?usp=sharing) (please request access if needed)
- [x] Review and discuss in WG call
- [x] Ismael to update the draft – [see new version here

[2022-09-20 15:21] holanita opened #5 "[PM] First call with researcher"
Done. Added Ismael's suggestions to the milestones document and the draft report outline.

[2022-09-20 15:26] holanita opened #4 "[WG] Discuss PM & collaboration via GitHub"
- will use GitHub for project management (see issues, project view, milestones, etc.)
- using google docs for the initial discussions (report outline, milestones, etc.)
- WG members should all have access to eveything
- @seanmcilroy29 can you help me invite to the repo Tamara, Zane and the researcher as well

[2022-09-20 15:26] holanita opened #3 "[WG] Discuss WG & project meetings (frequency, duration, attendees)"
- Bi-weekly WG meetings - 60 minutes (all the WG members)
- Weekly project meetings - 60 minutes (Asim, Anita + Tamara, Zane, researcher and anyone else who has time to join)

[2022-09-20 15:27] holanita opened #2 "[WG] Discuss expected deliverables"

[2022-09-21 05:50] holanita opened #1 "[WG] Discuss logo options"
Proposal: [see here](https://drive.google.com/file/d/1-LNyFDNK2ZVNlFk03mFvi_ab4rrIG1eE/view?usp=sharing) the draft logo for the SoGS project

[2022-09-21 05:54] #5 closed

[2022-09-27 09:21] #7 closed

[2022-09-27 09:47] holanita opened #11 "[PM] SOGS Progress"
Why: this ticket is to help us track the progress of the project team (Ismael, Tamara, Zane + Asim, Anita)
What: Anita will be updating this ticket weekly / as needed / before each WG call

[2022-10-03 16:27] seanmcilroy29 opened #12 "[WEBSITE] Meeting to discuss outline of report format"
Meeting to discuss the State of Green Software report format

Meeting to include: Asim, Ismael, Osama

[2022-10-04 10:39] #3 closed

[2022-10-05 09:59] #1 closed

[2022-10-05 16:18] #4 closed, assigned to seanmcilroy29

[2022-10-05 16:27] holanita opened #13 "[Survey] Create first set of questions"
Questions & answers to be added and discussed [in this google doc](https://docs.google.com/document/d/1wNp2vBkwuvMnvcdyXR3VH9Pt8XaixrvPTaUGgfnGgew/edit?usp=sharing).

Next steps as of Oct 12:
- [x] converge to 20 questions by Thursday
- [x] discuss Q&A in team call on Thursday
- [x] update draft Q&A by the next WG call on Oct 17

[2022-10-05 16:33] holanita opened #14 "[Survey] Set up Survey Monkey"
@tamigraph do you think Survey Monkey could be the right tool for us? Let me know if you have other options on your mind.

[2022-10-06 08:52] holanita opened #15 "[PM] Make this project visible to public"
@seanmcilroy29 not sure if you guys talked about this since last time. do you think it makes a difference if we keep all the projects private or should we publish them all?

[2022-10-06 08:55] holanita opened #16 "[PM] Set up GitHub for project management"

[2022-10-06 09:03] #2 closed

[2022-10-12 06:57] #9 closed

[2022-10-12 07:01] holanita commented on #10
Transferred to new SoGS repo. @Leamsi9 as discussed pls add your doc to this repo and comment here by Thu/Fri. Thanks.

[2022-10-12 07:15] holanita commented on #16
@seanmcilroy29 I've transferred all the SoGS issues to this new repo and removed the milestones from the policy wg repo. The project still remains linked to the policy wg repo, so if you click on projects there, the SoGS project board will show up.

Notes: Ismael will be using docs/markdown in this new repo and the survey team is working in a google doc for now. I'll update labels, milestones and

[2022-10-12 09:28] seanmcilroy29 commented on #15
@holanita - We should try to keep all project public, unless it's specifically requested by the project members.

[2022-10-14 03:26] Leamsi9 commented on #10
New draft outline is ready for review/approval
https://github.com/Green-Software-Foundation/state-of-green-software/discussions/18

[2022-10-14 05:53] holanita opened #20 "[REPORT] Preliminary version for COP"
@Leamsi9 feel free to add your work here for WG review. thanks.

[2022-10-14 08:49] holanita commented on #11
Meeting done. Progress looks great. Survey seems doable. Draft survey to be shared with the WG on Monday.

Next steps as per [GANTT](https://view.monday.com/3205828327-c53ddd26e774008fc5a4c6a55a76058c?r=use1):
- on Oct 17: WG call to discuss draft survey and confirm survey tool
- by Oct 20: work async and adjust draft survey if needed
- on Oct 20: Team call to discuss updates and next steps if nee

[2022-10-14 12:02] holanita commented on #15
@seanmcilroy29 ok I see. I was just asking because as far as I can tell all of them are still private including the SoGS one. not sure if I'm looking at the right thing though... I clicked on [projects](https://github.com/orgs/Green-Software-Foundation/projects) and it says 'private' next to the project titles...

[2022-10-17 13:49] holanita commented on #14
Just to keep in mind, we need a tool that offers ranking questions. SM does for sure:
https://help.surveymonkey.com/en/create/ranking-question/

[2022-10-17 14:57] Leamsi9 commented on #10
Google docs version: https://docs.google.com/document/d/1ahV9DCoS16rIJXF1c4-6wYf9sNcIXUxrFEfibW4Q54c/edit?usp=sharing

[2022-10-17 15:51] holanita commented on #14
Chris: figure out accessibility @mrchrisadams please add details

[2022-10-17 15:52] holanita commented on #14
@seanmcilroy29 can you please help us set up an account for Survey Monkey

[2022-10-17 15:56] holanita commented on #13
The [draft survey](https://docs.google.com/document/d/1wNp2vBkwuvMnvcdyXR3VH9Pt8XaixrvPTaUGgfnGgew/edit#) is open for comments until Wednesday, October 19. As discussed in the WG call today, given the tight deadlines we will not be able to process major updates @mrchrisadams @elisezelechowski.

[2022-10-17 16:23] holanita commented on #10
Discussed in the WG call today. Comments to be added.

[2022-10-17 16:32] holanita commented on #20
WG call: no objections for Ismael to work on this. We will review the progress and decide on feasibility in the next WG call.

[2022-10-18 15:00] jawache commented on #10
@Leamsi9 will leave some comments in the doc but some overall big picture characteristics I think we need to settle on.

1. More I think about it the ToC from the GSF needs to show up in the report more. Our ToC is something we firmly believe in and was generated through consensus over 6 long workshop sessions so it's part of our DNA (which we need to manifest in everything we do). In case you've

[2022-10-18 20:31] jawache commented on #20
@Leamsi9 this ticket doesn't have much information so I'm going off what I've heard in meetings regarding this task,

I believe the intention is either;

1) To give people a taster of what the report will contain so they are more likely to signup for the survey/add their email to be notified for the final report.

2) Act as a marketing hook to get some interest in the report in the wider world.

I

[2022-10-18 20:41] jawache opened #21 "Create SoGS post-launch marketing plan"
**Why**: From Nov 10th to Dec 31st we need as many people as possible to complete our state of green software survey.
**What**:  The State of Green Software is a report we are creating for Q1 2023, part of it will come from the results of an online survey of developers. Post COP we have 6 weeks to get as many people as possible to fill out that survey.

Scope:
- We want 5000 developers to fill out

[2022-10-18 20:53] jawache opened #22 "[REPORT] Plan and schedule interviews"
**Why**: So the report has a robust and representative set of interview candidates.
**What**: Who are we going to interview and how will the scheduling happen?

**Scope:**
- Decide on the process for selecting interview candidates (representative, diverse and respectful of our members)
- Decide on the process for arranging interviews.
- Where will this data be stored and how will we track we are o

[2022-10-18 21:01] jawache commented on #22
So we should ensure right now that at least our steering committee have had interviews scheduled in. They are the people both most invested in green software (they convinced their leadership to invest in the GSF) and they have the best connections into other leaders in the space you may want to connect into. Think of our board as some of the best connected people in the green software ecosystem, I

[2022-10-19 09:22] Leamsi9 commented on #20
This all makes sense.  Let's discuss in our call today whether we might have more to offer by then, or just want to keep it to the outline (after integrating your revisions).

[2022-10-19 10:39] holanita commented on #15
thanks

[2022-10-19 10:39] #15 closed

[2022-10-19 12:02] jawache commented on #10
I had another thought today @Leamsi9 given we are web-first and we've discussed before how we need to think about the end product (#12) the current outline is linear, I think structuring this outline as a deck would be better.

- Will allow for more non-linear thinking, every slide can represent a page and that page needs to live standalone. I'm worried the linear nature of the outline will limit

[2022-10-19 12:10] Leamsi9 commented on #10
Could you elaborate on what you have in mind as a deck? Aren't decks also
sequential, i.e. linear? Would not each section in the outline translate
into a deck slide,  web page, except the latter allows for more formats
than a traditional deck, such as collapsible mind maps, live data
dashboards, hyperlinked docs, etc?

I feel I may be missing your vision here, but happy to follow it!

On Wed, 19 O

[2022-10-19 17:20] Leamsi9 commented on #21
Here as promised is braindump 1.0. It focuses exclusively on the survey, not the wider SoGS report.

**Target**
5000 replies ambitious. Average survey responses tend to be around 15-20% so we would need to reach 25000-35,000 devs with our survey. 1000 still seems high but more achievable.  

**Suggested lines of action**

1. Mobilise big GSF members to distribute survey across all software enginee

[2022-10-21 15:43] jawache commented on #13
We reviewed this on the call today, we are happy with the questions and answers it's good to upload @holanita

[2022-10-21 15:46] jawache commented on #13
@holanita @Leamsi9 suggested we explore https://yougov.co.uk/ since you can pay $1 per answer and they will source the people.

[2022-10-24 10:23] jawache commented on #21
Let's break this out to

- Paid Solutions
Who, when, how much.
- Organic / Social Media
Need a calendar of posts.
- Partnerships
Which organizations can we partner with, same as for the hackathon.
Who is going to reach out to them.
- Members & LF
What's the strategy for getting these people onboard and spreading the survey.
Do I need to setup individual meetings with member orgs over November/Dece

[2022-10-24 14:58] holanita commented on #14
Last week Sean signed up for SM and I added the [draft survey](https://www.surveymonkey.com/r/Preview/?sm=0VKpgfUwJtdFhr1nqqhXmmGA6aKcxGyjyjYsY3LoeHVCE0kVd6hw08FPTbZbjm8_2F) already.

Based on the last update I received from Asim, we might switch to https://yougov.co.uk/ instead of Survey Monkey. Ismael suggested this new tool at the end of last week. This is to be discussed asap as setting up a n

[2022-10-24 15:02] holanita commented on #13
@jawache @Leamsi9 note and added the update to the [GH issue that covers the survey tool](https://github.com/Green-Software-Foundation/state-of-green-software/issues/14).
As for this current issue, can we consider the survey content ([Q&A in this doc](https://docs.google.com/document/d/1wNp2vBkwuvMnvcdyXR3VH9Pt8XaixrvPTaUGgfnGgew/edit#heading=h.pfaozpy06c4o)) finalized or do you still expect chang

[2022-10-24 15:54] zanete commented on #21
Moved the above comments to a [google doc](https://docs.google.com/document/d/1NFXnUhXZj5g__WHW3hzLXslmo1WX93lu0Fey-9zqXLA/edit#heading=h.jey55uwbk4yo) for better collaboration

[2022-10-24 16:19] jawache commented on #14
@Leamsi9 I believe if I can summarise the meeting properly.

Apparently YouGov and SurveyMonkey BOTH have some form of paid feature where you can pay them for people to fill out your survey. Am i correct?

@Leamsi9 I believe you said that there were some differences between the two paid for offerings and you preferred the offerings from YouGov, maybe you can target people better? I'm not sure.

Gi

[2022-10-24 17:04] holanita commented on #14
@jawache thanks @Leamsi9 what do you think?

Just one note: to me it sounds like yougov surveys can only be completed by their own people. So if that means we have to ask our people and any software practitioner out there to sign up for yougov, then that's a no go I guess. It could still be a nice add-on to compliment survey monkey, but not to replace it.

[2022-10-25 12:27] holanita commented on #14
I'm moving forward with Survey Monkey. In any case, will ask Sean to investigate what panel they (SM) offer and how much it would cost to use them.

[2022-10-25 12:58] holanita opened #23 "[SURVEY] Explore Survey Monkey's paid features"
Investigating the 'buy responses' feature of Survey Monkey. Will be listing prices based on target groups:

UK, Age: 25-60, Industry: IT (UK1 target group) – 30 questions, 200 responses – Price: 5,532 GBP
US, Age: 25-60, Industry: IT (US1 target group) – 30 questions, 500 responses – Price: 6,395 GBP
India, Age: any, Role: software developer (India SD target group) – 30 questions, 100 responses –

[2022-10-25 14:29] jawache commented on #23
It's a lot cheaper! I think given that we can import the questions into YouGov I propose let's see how the first month goes, if we are struggling to get people to answer in December let's import into YouGov and do a paid service there.

[2022-10-25 14:32] Leamsi9 commented on #21
@jawache and @holanita I've rejigged all my suggestions above and incorporated the market research Anita and I did into survey panels into the Google Doc @zanete created. It now follows all your headings @jawache .

[2022-10-25 14:50] Leamsi9 commented on #23
See my comments on the marketing doc for a proper analysis of all commercial options. If I we're spending the money my priority would be:

1) Linux Foundation's 4 million database.
2) YouGov international panel
3) Incentives for replies in our own mailing list plus social media spend

[2022-10-25 18:47] elisezelechowski commented on #10
Could we jump on a call in the next few days to discuss or is it best to
wait until Monday's policy meeting?

On Tue, Oct 25, 2022 at 11:14 AM Asim Hussain ***@***.***>
wrote:

[2022-10-25 19:32] jawache commented on #10
I've come up with i "think" a rough idea about how to bring all of this together, esp. our TOC and Survey. Will share with @Leamsi9 tomorrow and see if it resolves some of the above.

[2022-10-26 07:43] holanita commented on #23
Putting this on hold for now as per Asim's comment. Let's focus on COP and revisit this later.

[2022-10-26 07:54] holanita commented on #22
@jawache I've created [this google doc](https://docs.google.com/spreadsheets/d/11povfdUPIDDcUl19djWLqiaJSX_YLGt9DHGlESatOao/edit?usp=sharing), access restricted to ops team
@Leamsi9 do you have any thoughts on the above? let's figure out the details that Asim asked for

[2022-10-26 07:59] holanita commented on #12
To be revisted later. I'm assuming we are putting this on hold for now and will focus on creating the landing page for COP.

[2022-10-26 13:11] holanita commented on #13
Survey Monkey setup completed. Remaining topics to be discussed/confirmed:
- removed 2 questions in line with updates [in the file](https://docs.google.com/document/d/1wNp2vBkwuvMnvcdyXR3VH9Pt8XaixrvPTaUGgfnGgew/edit#). are further edits expected?
- which questions should be required: all except the last three?
- which questions should be multiple choice: Q13, Q18, Q19, Q21 only?
- add 'prefer not

[2022-10-26 14:08] holanita commented on #20
@Leamsi9 shall we archive this task now that you guys are focusing on the outline and the marketing plan in other GH issues? sounds like in the end we will not deliver the preliminary report for COP.

[2022-10-28 14:00] jawache commented on #20
@holanita agreed, or at least move this from "in-progress" to "todo" we agreed that we'd only pursue this if there was time and we've got less than 2 weeks to go now.

[2022-10-28 14:01] jawache commented on #12
@holanita is this the ticket where we will be discussing the end website? if so then yet let's put this on hold for now.
(I read this ticket as just the meeting to discuss in general which we had a while back)

[2022-10-28 14:13] holanita commented on #12
Yeah, this was created by Sean. I had another ticket open for this, but I removed it to avoid the duplicate. I was thinking we could keep this one. Okay, agreed, on hold for now.

[2022-10-28 14:17] jawache commented on #21
@holanita & @Leamsi9 - the above doc is a good start but let me define some more concrete aspects of this deliverable.

**By 10th November** I would like
- [ ] A calendar at least 2 weeks out for exactly what will happen **every day** post launch. I would like there to be no confusion regarding who is expected to do what and when. Post launch we should be able to execute without need for daily mee

[2022-10-28 14:19] jawache commented on #10
@Leamsi9 how's the update to the outline going? I was hoping we could review before todays call but at the very least let's have something to review before the Policy WG call on Monday.

[2022-10-28 14:46] holanita commented on #14
Waiting for a few questions to be confirmed, but the survey is still available at the [link](https://www.surveymonkey.com/r/Preview/?sm=0VKpgfUwJtdFhr1nqqhXmmGA6aKcxGyjyjYsY3LoeHVCE0kVd6hw08FPTbZbjm8_2F) I shared last Friday.

[2022-10-28 14:48] holanita commented on #21
Noted. TBD in today's call if and how we should involve Namrata OR start from scratch.

[2022-10-28 15:53] holanita commented on #13
We tested the survey and agreed on a few more updates in today's team call.

'Where and how do we add the definition of green software' remains TBD, we can even add images to the description!
- Add new question (Q2): What types of applications do you primarily build?  Cloud; Mobile; Desktop; IoT; Networking; Web; Machine Learning; Other
- Add N/A to Q12 (what if respondent is not a developer)
- Re

[2022-10-28 15:55] holanita commented on #21
Note from today's call. Ismael could not attend, so we'll try to schedule another one with him for Monday morning.
- Asim to schedule 1-on-1 calls with org leads where he can also pitch the survey
- We should prepare a package for orgs to pitch
- We should give each org a dedicated survey monkey link so their responses can be separated from the rest

[2022-10-31 09:36] zanete commented on #21
@holanita do you think it's worth adding the asks from @jawache [comment](https://github.com/Green-Software-Foundation/state-of-green-software/issues/21#issuecomment-1295057677) as headings in the google doc to keep it all in one place and make use of the gdoc commenting feature for specific feedback? Happy to arrange if you're ok with that or would you prefer to do it yourself?

[2022-10-31 10:25] holanita commented on #10
Discussed today:
- need to flash out at least one section to make the end product 100% clear (using lorem ipsum is fine)
- add a one-paragraph executive summary at the beginning of each section (opinionated summary / our added-value)
- add (links to ?) further resources to be added separately to back up the data
- use infographics for each sub-section (e.g. for awareness?)
- etc.

[2022-10-31 11:41] holanita commented on #11
Progress report for the WG call today (Oct 31):
- WG to review and test [the Survey Monkey questionnaire](https://www.surveymonkey.com/r/Preview/?sm=0VKpgfUwJtdFhr1nqqhXmmGA6aKcxGyjyjYsY3LoeHVCE0kVd6hw08FPTbZbjm8_2F)
- Ismael/Asim to explain report outline and share fleshed out section as per the discussion today
- Ismael to list suggested interviews, with a few questions for the PolicyWG for who

[2022-10-31 13:28] holanita commented on #21
@zanete we had not time for this in today's call. I'd rather wait, but feel free to go ahead if you prefer

[2022-10-31 15:22] holanita commented on #14
All sorted, the survey is still available for review [here](https://www.surveymonkey.com/r/Preview/?sm=0VKpgfUwJtdFhr1nqqhXmmGA6aKcxGyjyjYsY3LoeHVCE0kVd6hw08FPTbZbjm8_2F).

[2022-10-31 15:23] holanita commented on #20
Task remains in waiting/parking status as of today.

[2022-10-31 15:23] holanita commented on #22
Discussed in today's call, waiting for Ismael to flesh out in a doc the list of interviewees and some questions for the WG.

[2022-10-31 15:49] holanita commented on #21
I've added a short summary [to the google doc](https://docs.google.com/document/d/1NFXnUhXZj5g__WHW3hzLXslmo1WX93lu0Fey-9zqXLA/edit#) as Zanete suggested but wanted to add here as well for transparency @jawache @NAMRATA-WOKE

By 10th November:
- 2-week calendar detailing daily activities incl. owners, tasks, exact timings **(need Namrata's help & expertise)**
- Marketing KPIs and how to measure th

[2022-10-31 17:31] holanita commented on #22
Discussed in the WG call today. Notes:
- team agreed to overall approach
- TBD if some interviews can be done async or both async and sync (depends on interviewees too)
- Chris will try to do some interviews at COP
- Asim: we will likely need 25 interviews not 20 (to include all 9 SC members not just 4)
- Lisa: + Salesforce, IBM
- Tamara: in the survey, we did leave room for people to say they wan

[2022-10-31 17:31] holanita commented on #14
Discussed in today's WG call. Team to review and comment with 24 hours.

[2022-10-31 17:32] holanita commented on #10
Discussed in today's WG call and received positive feedback from Chris & Elise. Team to continue review async.

[2022-10-31 17:34] holanita commented on #11
As discuss in the WG call today:
- WG to review and test [the Survey Monkey questionnaire](https://www.surveymonkey.com/r/Preview/?sm=0VKpgfUwJtdFhr1nqqhXmmGA6aKcxGyjyjYsY3LoeHVCE0kVd6hw08FPTbZbjm8_2F) **by tomorrow**
- WG to review the [report outline](https://docs.google.com/document/d/1ahV9DCoS16rIJXF1c4-6wYf9sNcIXUxrFEfibW4Q54c/edit#heading=h.wzs1w3olflim) **async**
- Anita to turn Ismael's [s

[2022-11-01 09:18] holanita commented on #21
@NAMRATA-WOKE hi. can you help me with this? lmk if it's easier to hop on a call. it would be helpful to know:
- what marketing actions should we incorporate (what type, what frequency, will each task be completed by you?, etc)
- do you have a well defined process for these plans? maybe a GH board that I should copy to match your current workflow?

[2022-11-01 14:08] NAMRATA-WOKE commented on #21
@holanita Yes - a phone call is a good idea! Anytime after the 2nd.  Doing a small brain dump here to help you prepare for our conversation:

There is a lot about SoGS I don't know so before I make any recommendations, it will be helpful to know more about how this report is being put together, the timeline, the actors involved (internally and externally), and existing plans for production and rel

[2022-11-02 08:43] holanita opened #24 "[SURVEY] Upgrade Survey Monkey"
Why: to be able to add survey completion redirect (customized exit page) and remove SM footer
What: upgrade from Team Advantage (£25/user/month) to Team Premier (£75/user)month)

@seanmcilroy29 cc: @jawache the page where users land after completing the survey is a Survey Monkey marketing page that looks ugly, noisy and irrelevant so I was thinking it would be nice to be able to customize it. we n

[2022-11-02 09:36] holanita commented on #14
No feedback received, so I'm closing this.

[2022-11-02 09:36] #14 closed

[2022-11-02 09:39] holanita commented on #13
No feedback received from the WG. Sent an email to the project team to make sure each recent update is fine. Placeholder with definition of green software remains to be discussed. Next team call scheduled for Friday, Nov 4.

[2022-11-02 09:41] holanita commented on #10
Not aware of any new comments via GH or the google form. @Leamsi9 please keep this ticket updated so we know what is going on with the report outline.

[2022-11-02 10:12] holanita commented on #22
@Leamsi9 most of the data has been copied from your frat file to the above mentioned spreadsheet
- I suggest we rename thought leaders (GSF) to steering committee (SC) to match the GSF vocabulary
- pls clarify domains vs companies (it's hard for me to complete each field based on abbreviations only)
- pls complete and update the file as you see fet as I don't have the background knowledge to fill

[2022-11-02 11:03] holanita opened #25 "[SURVEY] Design"
Why: Asim asked that we tweak a bit the look of the [survey](https://www.surveymonkey.com/r/Preview/?sm=0VKpgfUwJtdFhr1nqqhXmmGA6aKcxGyjyjYsY3LoeHVCE0kVd6hw08FPTbZbjm8_2F) in Survey Monkey before the 10th
What: Jenya to spend an hour or two on this before the 10th if possible – see suggested tweaks below

- [ ] tweak the look (colors, fonts, etc.)
- [ ] create a proper cover image for the top to r

[2022-11-02 11:25] Jenya-design commented on #25
Hello @holanita
Thank you, I'll prepare the cover design and suggestions for the fonts. I think it might be faster as I have no experiene with Survey Monkey and it's a rather minimalistic design piece. If there will be no more urgent tasks, I'll share it with you by Friday

[2022-11-02 12:03] Jenya-design commented on #25
Ok @holanita
please give me the access and I'll check what I can do with the options we have and if we need any paid features.
Shall I work with the survey in the link directly or better create a copy?
Thank you

[2022-11-02 12:55] holanita commented on #25
We have a paid plan and some built-in themes. Just shared the credentials w/Jenya via Slack. No need to create a copy.

[2022-11-02 13:07] holanita opened #26 "[PM] Track KPIs for SOGS"
**UPDATE: From November 14, KPIs are tracked [in this spreadsheet](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_tuW2QHiJIOBjlR0OhjzuLg6aFFk/edit#gid=0) will be updated on an ongoing basis.**

Why: to be able to track progress
What: define measurable/quantifiable KPIs

- [x] I suggest we add and track each KPI [in this spreadsheet](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_

[2022-11-02 15:40] holanita commented on #26
@jawache @Leamsi9 pls check my understanding of today's meeting to make sure we are aligned on due dates & next steps

Key discussions:
- Volume: SOGS website will likely be around 5 times bigger than the Q1 report deck (40 substantial slides instead of 8)
- MVP: focus on 4 core sections and work iteratively to ensure we can deliver these even if we run out of time
- Soft deadline: December - comp

[2022-11-02 15:52] holanita opened #27 "[INTERVIEWS] Additional interviews to complement survey"
Why: Tamara suggested in the WG call on Oct 31
What: 'In the survey, we did leave room for people to say they wanted us to follow up with them for an interview. So even after the report itself is finished, maybe we can think about some smaller studies/sets of interviews to supplement our overall findings? In addition to interviews with **software practitioners**, we might think about including mor

[2022-11-02 18:52] holanita commented on #21
@NAMRATA-WOKE
- see [here](https://docs.google.com/document/d/1NFXnUhXZj5g__WHW3hzLXslmo1WX93lu0Fey-9zqXLA/edit#bookmark=id.phvchr31werb) the answers to your questions about the report
- the questions you had about ROI are to be discussed with Asim
- and I think the generic Qs will be useful for all of our marketing activities, not just SOGS (size of industry and network, etc.)
- my evenings are r

[2022-11-02 18:56] holanita commented on #10
@Leamsi9 so today Asim mentioned that Osama could start working on the website in December as long as he has the headings. I assume it's the finalized draft outline that he needs (just the headings). Do you have a specific ETA for finalizing headings?

[2022-11-02 19:03] holanita commented on #11
No feedback received on survey and report outline so far. Interviews added to spreadsheet.

[2022-11-02 19:19] holanita opened #28 "Content & marketing checklist"
Why: Asim suggested to focus on content that adds value, is engaging and is easy to market
What: create checklist, monitor content, adjust content as needed, maximize marketing efforts
Owner: Anita

Content checklist:
- [ ] Engaging website with interactive graphics
- [ ] Interesting findings people can quote/share on social media
- [ ] Making sharing parts of this report easy
- [ ] Have a whole p

[2022-11-02 19:31] holanita opened #29 "PR FAQ checklist"
Why: Asim suggested to focus on content that adds value and skip content that is less relevant (esp. if we run out of time)
What: create checklist based on pr faq, prioritize content, adjust content as needed
Next steps: we can try to create a [spreadsheet](https://docs.google.com/spreadsheets/d/1xFez2f5F9ope7x6MPxclW9uRk3SUaHelHmQv9U2sLEE/edit#gid=0) for this but for now I'm logging here all the

[2022-11-02 20:07] seanmcilroy29 commented on #24
@holanita - Survey Monkey upgraded to Team Advantage. This has the additional functionality to support your survey.
If you need anything else please let me know.

[2022-11-03 07:18] holanita commented on #24
@seanmcilroy29 it won't let me customize the survey end page and still asks for an upgrade. See [here](https://drive.google.com/file/d/1CMOckoZl0DPLSE2er_52kg04FyKukjx2/view?usp=sharing). I think we need the Premier one that includes the feature called 'add survey completion redirect'.

[2022-11-03 07:30] holanita opened #30 "COP announcement"
What: discuss / confirm the details of the announcement to be made at COP
Why: to make sure we are aligned on what needs to be announced and how

@jawache I've noticed in the deck that @Leamsi9 will be announcing the survey project. I was just wondering if we need to sync to make sure the announcement goes well. Let me know if you need any input from me.

[2022-11-03 08:10] holanita commented on #11
Upcoming key deadlines in line with [Ismael's GANTT](https://docs.google.com/spreadsheets/d/1d0EUEQRaTgTu-aYRpHfs7J8MO1Fc9AI9RXeJN3WyNyE/edit#gid=1115838130) and our originally planned [milestones](https://docs.google.com/document/d/1dmKSWMJ5BIAPmkpiy_d3X1pHqC3sfTVd6TmkybrnSkE/edit#)
(the two are no longer aligned, dates to be monitored and updated on an ongoing basis)
- [ ] Oct 31 plan and agree

[2022-11-03 09:46] zanete opened #31 "[SOGS] Create illustrations and icons for the website"
**Why**: To complete the State of Green Software website (https://www.figma.com/proto/B25vyo3My1SzrksFUe2B4p/GSF-Landing-Pages?page-id=664%3A157&node-id=664%3A719&viewport=111%2C547%2C0.26)
**What**: Produce missing illustrations and icons
**Scope of work**:
- [ ] 4 Illustrations for sections in the screens below
- [ ] 3 icons for for sections in screens below
![image (14)](https://user-images.git

[2022-11-03 17:59] Jenya-design commented on #31
Hello @osamajandali @zanete

Please check the update below
For the header I've created two square illustrations to put on the sides of existing composition,
@osamajandali please let me know if it can work or I better ajust for one square illustration with the logo in it's center

[Icons preview](https://drive.google.com/file/d/1ineVQHEHnV3G0moKiqeaDZAzCqgzarJg/view?usp=share_link)
1. for developer

[2022-11-03 22:13] Jenya-design commented on #25
Hello @holanita @jawache
Please check the current view of the survey and let me know what you think

I've created a SoGS custom theme, but not sure how easy it'll be to apply to other survey as it's my first experience with Survey Monkey. Our brand font is not available on the platform, so I replaced it with Lato
I was trying to make the dark theme to match the website, but for some reason there w

[2022-11-04 08:23] holanita commented on #25
Hello @Jenya-design great, thanks for the new illustration! I like our dark green a bit more than this light one. Now that you used it for the buttons too, shall we try and use the **dark green for questions text?** Also, I like the light theme, but I'm not sure if Asim wanted to have a more prominent update so let's wait for his feedback. ([link to preview](https://www.surveymonkey.com/r/Preview/

[2022-11-04 12:16] holanita commented on #21
@jawache @NAMRATA-WOKE I've been thinking about ways to have the best results with the least effort.

My idea would be to **offer a benchmark report for organizations** if a certain number of their employees complete the survey. We would compare the company's results with overall industry results. I mentioned this before, but now I thought about the whole plan.

The ask & the offer:
- a basic repo

[2022-11-04 13:20] osamajandali commented on #31
@Jenya-design Thanks so much; they look fantastic!
The only thing I will not go with is the illustrations around the logo and title because we will have to keep in mind that this is desktop, and there will be a responsive table and mobile views..so it's not a good idea to put illustrations around it.
I suggest giving the logo icon additional green elements to provide the design with a vibe while k

[2022-11-04 13:52] holanita commented on #11
@Leamsi9 oh sorry, let me do this differently as this ticket is for bi-weekly updates. I'm afraid the point will now be lost.
- let's move granular discussions to separate tickets as always. we'll always have a dedicated ticket for each task.
- @seanmcilroy29 sorry for dragging you into this. we'll reach out when the time comes. let's not start the convo here.
- @Leamsi9 I'd like to create a prope

[2022-11-04 14:34] NAMRATA-WOKE commented on #21
@holanita I am free to speak today between 2-3pm ET today.

[2022-11-04 15:17] osamajandali commented on #31
@Jenya-design I edit the page and the first section now needed an illustration..
https://www.figma.com/file/B25vyo3My1SzrksFUe2B4p/GSF-Landing-Pages?node-id=725%3A3547

[2022-11-04 16:36] Jenya-design commented on #25
Thank you @holanita
I didn't use dark green for the text because it's not used on the website, so I was trying to keep survay consistent despite the light theme. I agree, readability isn't perfect, though I think it still works with this font size.

As an option I can show the dark theme, but I think it would be better to make a copy of survey, so you can compare. Is it possible? I can't see this

[2022-11-04 16:38] Jenya-design commented on #31
Thank you @osamajandali
Ok, noted about the illustrations for the top. I'll sned you the update for it and for the 1st section in 2-3 hours

[2022-11-04 17:11] holanita commented on #22
What's still missing:
- figure out how and when Steph and/or Sean can help us (after COP)
- SC members should be easy to add, let's start by adding them to the current list
- I will open a new ticket for the questionnaire as that one is a completely separate topic

[2022-11-04 17:15] holanita opened #32 "[INTERVIEWS] Build questionnaire"
Why: to make sure the outcomes of the interviews are consistent and interviews run smoothly
What: create a questionnaire and use it to guide the conversation

Next steps:
- [x] Ismael to draft questionnaire
- [x] Team to discuss
- [ ] For those who want to do the interview async, we could turn this into a survey in Survey Monkey.

[2022-11-04 17:22] holanita opened #33 "[REPORT] Readers' panel"
Why: to facilitate the review and give volunteers the opportunity to contribute (the idea comes from a recent call with Avanade)
What: create a readers' panel who will regularly review the content

Next steps:
- [x] Discussed in the team call with Tamara and Ismael on Nov 4
- [ ] Ismael & Tamara to suggest panelists
- [ ] Ismael to share new content periodically (likely in a google document)
- [ ]

[2022-11-04 17:25] holanita commented on #21
@NAMRATA-WOKE I'll reach out in a DM. Meanwhile, we had a call with Tamara & Zane. Numbers have been updated above.

[2022-11-04 17:29] holanita commented on #30
Discussed with Ismael in today's call. Dry run went well. Ismael was using his own notes but it seemed to be fine.

@jawache I told Ismael that you wanted to use the speaker notes in the deck. He wasn't aware. Let us know if anything needs to be changed.

[2022-11-04 17:32] holanita commented on #13
As discussed in today's call with Tamara and Ismael, the survey looks good to go. As for the description of green software, we should use what we have in the copy for the website. See below. I need to figure out how to add this in SM. Ideas discussed:
- [ ] Add an intro page at the beginning and put the copy there
- [ ] Add it to all the pages (top / bottom)

_What is green software?

Green softwa

[2022-11-04 18:38] Jenya-design commented on #31
@osamajandali please check the update
pdf preview https://drive.google.com/file/d/1NWMvkVg8mfvkKUNIIUY_YT56tXzt7s1U/view?usp=share_link
all files https://drive.google.com/drive/folders/11DDDG0jbPAwFbUVDqeRxYXDROFkYPTv_?usp=share_link

[2022-11-05 14:21] osamajandali commented on #31
Thank you @Jenya-design
I tried the logo with those illustrations, but unfortunately, it didn't work well.
I suggest keeping it as it is, or we can choose to tweak it as I did here.

![Image](https://user-images.githubusercontent.com/13832392/200124347-5cba1b63-e040-4dee-a52b-d33e395f18ba.png)

[2022-11-06 09:51] Jenya-design commented on #31
Thank you @osamajandali

I really like the design you've made, but I would suggest we keep the old look if it's not possible to add the illustrations around or wide adaptive banner on top.
Currently we have [this system](https://drive.google.com/file/d/14amiF9ChnhC8xFDyI-iqhia7NJ8OIbAG/view?usp=share_link) approved for wg and project logos. You can see State of GS is consistent with  Policy WG and

[2022-11-06 12:35] jawache commented on #31
Ahh thanks, let's keep it as is then for now @osamajandali and @Jenya-design we can revisit post COP 😃

[2022-11-06 18:32] osamajandali commented on #31
@Jenya-design I agree
let's revisit post COP as @jawache was saying
So we are done here I am going to close this

[2022-11-06 18:32] #31 closed

[2022-11-07 08:15] holanita commented on #13
Done. A tooltip has been added to each relevant question and the definition can be found at the bottom of each page. See [here](https://drive.google.com/file/d/1YInmcoD5ZYNFFvXHGlyhsKdgSqLGEuNu/view?usp=share_link).

[2022-11-07 08:15] #13 closed

[2022-11-07 08:17] holanita commented on #25
Hey @Jenya-design thanks. I think what we have looks good. Note that I used dark green now when adding [a definition](https://drive.google.com/file/d/1YInmcoD5ZYNFFvXHGlyhsKdgSqLGEuNu/view?usp=share_link).

[2022-11-07 08:33] holanita opened #35 "[SOGS] Website creation for SOGS report"
Why: to share the SOGS report with the public
What: create interactive pages on the SOGS website to show our findings

Details to be added to [this google document](https://docs.google.com/document/d/1TRzX6PpuD5d1bVFaBnT7yJ1bq6XBWQ8b9ALDA2DkEEU/edit).
See previous discussions [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/12).

Next steps:
- [x] Ismael to finali

[2022-11-07 08:38] holanita opened #36 "PDF creation for SOGS"
Why: to compliment the SOGS website & report with a downloadable piece
What: Jenya to create a downloadable PDF version of the SOGS report
When: once the content and the website have been finalized, final due date is end of Q3 2023

Next steps:

- [ ] Anita & Jenya to discuss timelines while waiting for content and website to be finalized

(this comment will be updated on an ongoing basis as neede

[2022-11-07 08:52] holanita commented on #36
Hi @Jenya-design – our goal is to publish the SOGS report by the end of Q1 2023. We will build an interactive website for this, but we also need a PDF version. See details above
- So first of all this is to let you know this will be happening. Can you incorporate this into your schedule?
- Secondly, how much time do you think you'll need to put this report together based on the above?
- Finally, I

[2022-11-07 08:57] #12 closed

[2022-11-07 13:52] holanita commented on #21
To be discussed in a call with Asim this week. As he suggested today, benchmark reports will be offered to **members only**!

[2022-11-07 14:14] holanita opened #37 "[SURVEY] dedicated urls for member organization"
What: Anita to generate dedicated urls for each member so their employees can use that urls to complete the survey
Why: responses and results will be logged separately in Survey Monkey and we'll be able to compared them to overall results

Next steps:
- [x] Sean to confirm most up-to-date list of members
- [x] Anita to set up collectors in Survey Monkey
- [x] Anita to add urls to [this spreadsheet

[2022-11-07 15:07] holanita commented on #37
[Urls](https://docs.google.com/spreadsheets/d/19Ywmgprpw6oI7MA7OqAGrQyosmWWUy90T4nL2qJ1OeY/edit?usp=sharing) have been created (access restricted to ops team). Once discussed in our upcoming call, I'll export the final ones.

[2022-11-07 15:49] holanita opened #38 "[SOGS] Final review by the editor"
Why: to make sure content is consistent and grammatically correct
What: the editor should do a final review (and prior review in small batches if incremental work allows)

[2022-11-07 15:50] holanita commented on #38
Cath has just confirmed she would have time for this next week, I just need to confirm the exact timing once we have more clarity on Ismael's progress.

[2022-11-07 19:36] Leamsi9 commented on #10
Apologies, just been trying to focus on writing! Yes these are the headings. I did see the comment that Osama will need more on types of data. That might be one week away, as the Business Case is probably an outlier. But we should have enough to at least get started. As soon as I complete the first section I will return to this issue and have something for Osama.

[2022-11-07 23:05] Leamsi9 commented on #22
Will get to this by Friday!

[2022-11-07 23:05] Leamsi9 commented on #32
Will get to this by Friday!

[2022-11-08 07:34] holanita commented on #10
Brilliant, thank you! I'm closing this task then, let's continue the convo [on this web ticket](https://github.com/Green-Software-Foundation/state-of-green-software/issues/35) in a week or so when you are ready.

[2022-11-08 07:34] #10 closed

[2022-11-08 07:36] holanita commented on #35
@zanete fyi Ismael is currently focusing on writing. Headings have already been confirmed on the linked ticket. Ismael will provide further details in about a week. @Leamsi9 when you are ready please add your input to [this google doc](https://docs.google.com/document/d/1TRzX6PpuD5d1bVFaBnT7yJ1bq6XBWQ8b9ALDA2DkEEU/edit?usp=sharing) for Osama.

[2022-11-08 10:04] Jenya-design commented on #25
Thank you @holanita
Definition style looks good to me
If you and @jawache don't have additional comments or requests, please close this task

[2022-11-08 10:42] holanita commented on #25
Thanks @Jenya-design I'll leave this open so Asim can comment if he wants to. Will close it after COP.

[2022-11-08 10:44] Jenya-design commented on #36
Hello @holanita

Thank you for letting me know we have this upcoming task
From my tracking Q1 report took me 43 hours (reviews ad adjustments included). It not necessary means that SoGS will take 215h,
but as we don't have the actual content and I don't know how many illustrations and infographics should be created, that's the only estimation we have now.

With this report my output will be pdf fi

[2022-11-08 10:49] holanita commented on #36
Noted and thanks. Slides were never mentioned in our convos so far, so I think it will only be a PDF. Will keep you posted.

[2022-11-09 06:44] holanita commented on #24
@seanmcilroy29 we discussed this with Asim and Namrata yesterday and we figured that we should switch our plan asap to make sure we have the feature that we are looking for (SM calls it _survey completion redirect_).

Why: to redirect respondents to our page or a simple google doc where we can add marketing CTAs
Next steps: can you ask SM to change our pricing package as we don't have the feature

[2022-11-09 07:24] holanita opened #39 "Send survey urls to member organizations"
What: Asim to send out an email to each org lead to let them know about the survey and share the url they should use
Why: to make sure their responses and results are logged separately in Survey Monkey
When: email to be sent on Thursday, Nov 10 - before COP!

Next steps:
- [ ] Asim to draft message and share with Namrata
- [ ] Asim to make sure each member org gets their own [url to complete the s

[2022-11-09 07:25] holanita commented on #39
@jawache you can find all the urls in [this spreadsheet](https://docs.google.com/spreadsheets/d/19Ywmgprpw6oI7MA7OqAGrQyosmWWUy90T4nL2qJ1OeY/edit#gid=1878469821). See further details and next steps above. cc @NAMRATA-WOKE

[2022-11-09 07:26] holanita commented on #37
Discussed yesterday. Urls have been finalized and shared with Asim [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/39).

[2022-11-09 07:26] #37 closed

[2022-11-09 07:30] holanita commented on #39
@jawache you can find all the urls in [this spreadsheet](https://docs.google.com/spreadsheets/d/19Ywmgprpw6oI7MA7OqAGrQyosmWWUy90T4nL2qJ1OeY/edit#gid=1878469821). See further details and next steps above. cc @NAMRATA-WOKE

[2022-11-09 07:32] holanita commented on #25
@Jenya-design we made some quick edits yesterday evening:
- changed the color of the question text for better readability
- added some extra notes just below the title
This is good to go now, thanks for your help with this!

[2022-11-09 07:32] #25 closed

[2022-11-09 08:27] holanita opened #40 "Save all SOGS design assets in one folder"
What: make sure each design asset that has been created so far is saved in one folder on the drive
Why: so Namrata has everything in one place and can look for assets there when needed
When: asap as we need to start marketing the course asap

- [x] Jenya to review what assets we have already
- [x] Jenya to put them all in one folder
- [x] Namrata to review what we have and confirm if she needs any

[2022-11-09 08:29] holanita commented on #40
@Jenya-design please do the first two tasks asap and let us know what your availability looks like these days and moving forward until the end of December. many thanks! cc @NAMRATA-WOKE

[2022-11-09 08:34] holanita opened #41 "Useful assets & links for marketing"
What: add all the assets that could be useful to this ticket
Why: so Namrata and the team has everything in one place
When: asap and the list below will be updated on an ongoing basis

- [Asim's Marketing Plan](https://docs.google.com/document/d/1NFXnUhXZj5g__WHW3hzLXslmo1WX93lu0Fey-9zqXLA/edit#heading=h.jey55uwbk4yo)
- [Weekly marketing Calendar](https://docs.google.com/spreadsheets/d/1DkXXU9SLX4

[2022-11-09 08:35] holanita commented on #41
@NAMRATA-WOKE let me know in the comments if you need anything else and I'll keep adding stuff above

[2022-11-09 08:48] seanmcilroy29 commented on #24
@holanita - I've just contacted SM customer support to see if they can transfer this account to the Premier Annual plan, as there's currently no option to do this. As soon as they get back to me, I'll let you know

[2022-11-09 08:56] holanita opened #42 "Confirm SOGS content for newsletter due on Nov 15"
What: confirm what content should be added to the upcoming newsletter about SOGS
Why: to optimize our marketing efforts

Suggested next steps:
- [x] Namrata to suggest content
- [ ] Asim to review and approve
- [ ] Namrata to make sure content is added to the newsletter

Related tickets:
- https://github.com/Green-Software-Foundation/ops-content/issues/12 (this is where we can discuss the entire n

[2022-11-09 08:58] holanita commented on #42
@NAMRATA-WOKE @jawache we don't have a process for the newsletter yet. let's just use this ticket to discuss what content will go into the next issue about SOGS

[2022-11-09 08:59] holanita commented on #24
Thank you!

[2022-11-09 09:19] holanita opened #43 "Create marketing package for partners"
What: we want to create a marketing package for stakeholders like CNCF to help them promote SOGS
Why: to boost the impact of big organizations like CNCF
When: package and design assets to be finalized by Nov 14 (comms will start on Nov 18)

Next steps:

- [x] Namrata to list what needs to be included in that package
- [x] N/A Anita/Namrata to work with Jenya on eventual design assets
- [x] Missing

[2022-11-09 09:21] holanita commented on #43
@NAMRATA-WOKE please help figure out the content of this package so we can send it out in due time. As discussed with Asim yesterday, the package and design assets should be finalized by Nov 14 and comms will start on Nov 18.

[2022-11-09 09:25] holanita opened #44 "Confirm banner content and placement"
What: we will replace the Hackathon banner with a SOGS banner
Why: to promote SOGS after COP
When: we will update the banner **on Nov 11**

What we need:
- [ ] Asim to confirm if this banner will be placed all over our webpages or on specific pages only
- [x] Asim/Namrata to confirm copy for the banner
- [x] Asim/Namrata to confirm is we need a shortened url for this
- [ ] Anita to work with Jenya

[2022-11-09 09:27] holanita commented on #44
@NAMRATA-WOKE @jawache pls confirm the first two bulletpoints above so I can start working with Jenya and Osama on this.

[2022-11-09 09:35] holanita opened #45 "Add a note to Survey Monkey that our survey is anonymous"
What: this ticket is to discuss whether we should add a note to the SOGS survey that it is anonymous
Why: this has been suggested by Namrata [here](https://www.figma.com/proto/B25vyo3My1SzrksFUe2B4p?node-id=725:3547#301617885) while discussing the landing page

As of today, it is not obligatory for respondents to indicate their personal details. At the very end of the survey, they can opt in to re

[2022-11-09 09:35] holanita commented on #45
@NAMRATA-WOKE @jawache pls discuss and let me know your decision so I can take action accordingly.

[2022-11-09 09:46] holanita opened #46 "[PM] Weekly Marketing Review #1"
This is a checklist and agenda for managing weekly marketing activities **between Nov 8 and Nov 18**.

Meetings:
- Invite sent for Monday, **Nov 14** and recurring weekly (only Namrata & Anita will be able to attend this week)
- Ad hoc meeting suggested for Friday, **Nov 11** to discuss the new process for the newsletter (only Asim & Anita joined)

Action items:
- https://github.com/Green-Software

[2022-11-09 09:59] holanita commented on #21
I'm closing this ticket as we already have a marketing plan.
- Next steps have been added to github. Each issue is labeled as 'marketing'. See them all [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues?q=is%3Aissue+is%3Aopen+label%3Amarketing) or [in this marketing board](https://github.com/orgs/Green-Software-Foundation/projects/3/views/4).
- https://github.com/Gr

[2022-11-09 09:59] #21 closed

[2022-11-09 10:05] holanita opened #47 "Add cover images to social channels"
What: as discussed yesterday, new cover images will be added to linkedin, twitter and the podcast (?)
Why: to promote SOGS after COP
Who: waiting for Jenya to confirm her availability, but Namrata can do this if needed
When: on Friday, Nov 11

Next steps:
- [x] Jenya to confirm her availability on another ticket
- [ ] Namrata to proceed if Jenya is not available OR
- [ ] Anita to add ticket to Jen

[2022-11-09 10:47] Jenya-design commented on #40
Hello @NAMRATA-WOKE @holanita

Please review the assets here
https://drive.google.com/drive/folders/1nQq9G49GbT91lS6Zq6nnMTHQwjGkHyMU?usp=share_link

There are very few assets created specifically for SoGS but I can adjust other GSF assets to SoGS fairly quickly
Please let me know what you need for marketing. If possible please give me the total list of the design positons you might need for the S

[2022-11-09 14:51] NAMRATA-WOKE commented on #42
My recommendation for what to include:

- Why we're doing a survey
- Audience for the survey
- time commitment (5 minutes?)
- what to expect once they fill out the survey
- request to share the survey with fellow software practitioners
- if folks have feedback about the survey, who can they contact?
- decarbonize event banner at the bottom of the email that hyperlinks to the landing page

[2022-11-09 18:05] holanita commented on #42
Sounds good to me. For feedback and questions, can they contact help@greensoftware.foundation?

[2022-11-09 18:51] holanita commented on #40
@Jenya-design thanks. Namrata might actually need some images for social media and other marketing activities fairly soon meaning within a couple of days. let's wait for her to review your folder and confirm what else she needs

@NAMRATA-WOKE I've added the url to the [assets list](https://github.com/Green-Software-Foundation/state-of-green-software/issues/41)

[2022-11-09 19:53] NAMRATA-WOKE commented on #42
Who manages that inbox?

[2022-11-10 07:41] holanita commented on #42
Steph and Sean AFAIK. This is what we use for other projects. Asim wanted each inquiry to go through the helpdesk from now on. Alternatively, we could use this gsfsurvey@greensoftware.foundation as incoming emails are FWed to me. TBD.

[2022-11-10 09:57] holanita opened #48 "Desk research for business case"
What: finalize the desk research for the business case
Who: Ismael
When: Nov 9 (delayed)

[2022-11-10 10:08] holanita opened #49 "Desk research for knowledge"
What: finalize the desk research for the knowledge section
Who: Ismael
When: Nov 17

[2022-11-10 10:09] holanita opened #50 "Desk research for culture"
What: finalize the desk research for the culture section
Who: Ismael
When: Nov 25

[2022-11-10 10:20] holanita opened #51 "Desk research for tooling"
What: finalize the desk research for the tooling section
Who: Ismael
When: Dec 5

[2022-11-10 10:30] holanita opened #52 "Confirm deadlines with Ismael"
what: deadlines relating to the desk research and the drafting of the report
why: to make sure we are all aligned on what is next and what is doable
when: asap, ideally tomorrow but before the next WG call at the latest

Next steps:
- [x] Ismael to comment on this ticket and confirm if the deadlines listed [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/11#issuec

[2022-11-10 10:40] holanita commented on #49
Might be delayed as [this first one](https://github.com/Green-Software-Foundation/state-of-green-software/issues/48) is delayed too.

[2022-11-10 10:40] holanita commented on #50
Might be delayed as [this first one](https://github.com/Green-Software-Foundation/state-of-green-software/issues/48) is delayed too.

[2022-11-10 10:42] holanita commented on #48
This ticket is delayed, waiting for Ismael's updates.

@Leamsi9 I have created tickets for each section (see mentioned above) so it's easier to track the status of each. From now on, can you add updates to these individual tickets to make it easier to track progress. We can then use these tickets to discuss the actual content with Asim so we have everything in one place. Hope this will work. Many

[2022-11-10 19:19] #30 closed, assigned to jawache

[2022-11-11 15:55] #39 closed

[2022-11-11 15:56] holanita commented on #47
@NAMRATA-WOKE can you proceed without Jenya? Let me know if you need any support with this.

[2022-11-11 15:57] holanita commented on #44
@NAMRATA-WOKE can you proceed without Asim's input. It would be nice to change the banner asap.

[2022-11-11 16:19] holanita commented on #22
Just discussed this with Asim. We'll organize a call with SC members and academia partners from the start of next week (let's fill in the calendar with these names). Need copy for email, just one paragraph. Another call to be scheduled for the three of us early next week.

[2022-11-11 16:22] jawache commented on #46
Copy for the exit page for Survey Monkey:
- Share the survey to your audience (Click to Tweet, Linkedin, Facebook)
- Sign-up for our newsletter.
- Join our Meetup.
- Take our course
- Join our discord.

[2022-11-11 17:55] NAMRATA-WOKE commented on #44
Yes I'll create something with the existing illustrations.

[2022-11-11 18:49] NAMRATA-WOKE commented on #44
Can someone confirm which link to use for the banner?

OPTIONS:

grnsft.org/sogs/survey
stateof.greensoftware.foundation

Thanks. My recommendation is the direct link: grnsft.org/sogs/survey

[2022-11-11 18:55] NAMRATA-WOKE commented on #44
[](url)
![SOGS Survey - Twitter Header (1)](https://user-images.githubusercontent.com/114516498/201411143-a75dba28-ac90-4611-a46d-c45f868ed3e9.png)

[2022-11-11 18:57] NAMRATA-WOKE commented on #47
Yes.

[2022-11-11 19:13] NAMRATA-WOKE commented on #45
If we are asking for email addresses which disclose a person's identity, we should somewhere (SOGS landing page) or the bottom of the survey indicate if the responses will be anonymized during reporting or aggregated based on the institution. The decision should line-up with how the report is being approached from a content category perspective. If knowing who filled out the survey adds little/no

[2022-11-14 09:10] holanita commented on #45
As per our discussions with Asim on Friday, this will not be necessary. Ticket cancelled.

[2022-11-14 09:16] holanita commented on #44
Hello @NAMRATA-WOKE there might be a misunderstanding here. What we mean by banner is the one at the top of our website.  It's a lot narrower. See below. It will be placed on some/all of our pages, this is still to be confirmed by Asim. What you pasted above might be what we need as a social cover image. Let's discuss the details in the call today.

![Image](https://user-images.githubusercontent.c

[2022-11-14 09:17] holanita commented on #43
@NAMRATA-WOKE can you list what you need for this package? What should be included? We were going to finish this by Nov 14 today, so it would be good to get started asap. Let's discuss in our call today if needed.

[2022-11-14 09:19] holanita commented on #24
@seanmcilroy29 please complete the upgrade as soon as you can as on Friday we lost access to the insight into responses. Hopefully survey functionality will not be limited due to the downgrade on Friday, but it would be best to solve this asap. Many thanks.

[2022-11-14 09:20] holanita commented on #40
@NAMRATA-WOKE were you able to look at the assets Jenya shared? Please confirm if you need anything else or lmk if we can close this task.

[2022-11-14 09:21] holanita commented on #42
Let's try to discuss with Asim in our weekly marketing call today.

[2022-11-14 09:21] holanita commented on #46
Noted, thanks. Survey Monkey has not been upgraded yet. Once Sean figured it out and we have the new functionality, I'll create a new task for the exit page.

[2022-11-14 09:30] holanita opened #53 "Add new target groups to survey"
Why/what: we received new suggestions from various places to cover more target groups not just developers
When: to be discussed in the marketing call today and details to be mapped out in GH if we decide to go ahead with this

New target groups to focus on:
- [ ] Namrata suggested **students**
- [ ] University of Bristol **researcher, students?**
- [ ] BCG suggested **C Suite**
- [ ] keeping an ey

[2022-11-14 09:31] holanita commented on #46
Also, adding a new idea to the agenda: https://github.com/Green-Software-Foundation/state-of-green-software/issues/53

[2022-11-14 09:35] holanita commented on #47
@NAMRATA-WOKE you might have closed this by mistake. I can still see the Hackathon cover image on Twitter for example.
<img width="866" alt="Screenshot 2022-11-14 at 10 34 45" src="https://user-images.githubusercontent.com/100846607/201625647-e3cf557a-aaa5-4991-8700-9f4ac2eacc77.png">

[2022-11-14 09:39] holanita commented on #24
ETA around 5pm today

[2022-11-14 09:44] holanita commented on #45
As per our discussion with Asim on Friday, this will not be necessary. Let's revisit briefly in our call today.

[2022-11-14 09:47] holanita commented on #46
Since only Asim was able to join the call on Friday, let's try to discuss all the details today.

[2022-11-14 12:44] NAMRATA-WOKE commented on #44
Ah! I can modify this one to highlight the survey but need the specs from @osamajandali and preferably the link to the original art file from @Jenya-design. Can get this done today.

[2022-11-14 12:45] holanita commented on #46
Call cancelled, as discussed with Asim via Slack:
- We can proceed with BCG's suggestion. Anita to discuss with Niels.
- Steph to start scheduling [interviews](https://docs.google.com/spreadsheets/d/11povfdUPIDDcUl19djWLqiaJSX_YLGt9DHGlESatOao/edit#gid=0) with the universities and the SC. Asim will share the status with the SC on Thursday.
- Package to be sent to parterns TBD with Namrata today an

[2022-11-14 12:59] holanita commented on #43
List of partners suggested by Asim and added to the initial comment above.

[2022-11-14 13:14] Jenya-design commented on #44
Hello @NAMRATA-WOKE @holanita
original file for the banner is here
https://drive.google.com/drive/folders/1FoI_8f2Z-hdGu-0xj6aiaTtxB3lsUgMK?usp=sharing
I made it as ai / svg file, not canva design, size 1920x100 px
Please create the ticket if you need my help with this task

[2022-11-14 13:18] holanita commented on #22
@Stephaniestocker
- Are you available to start scheduling interviews for Ismael to talk to the representatives of our **member universities and the SC** in connection with the State of Green Software report?
- Asim would like to **share our progress with the SC on Thursday** so it's quite urgent.
- We have some names [in this spreadsheet](https://docs.google.com/spreadsheets/d/11povfdUPIDDcUl19djW

[2022-11-14 13:19] Stephaniestocker commented on #22
Yup, let me have a look today Anita and shout if I have q’s

On Mon, 14 Nov 2022 at 13:18, holanita ***@***.***> wrote:

[2022-11-14 13:23] holanita opened #54 "Clarify short links (and corresponding Survey Monkey collectors)"
Why: to minimize the number of shortlinks but still ensure we can track progress in each relevant segment
What: Namrata and Anita to align on what urls we need

These are the segments Asim would like to have in the report:
- [x] Social (this has been set up in Survey Monkey, no responses received as of Nov 14)
- [x] Members (set up in Survey Monkey, receiving responses since Nov 10)
- [ ] Internal

[2022-11-14 13:25] holanita commented on #46
Added as per Asim's request in order to review shortlinks https://github.com/Green-Software-Foundation/state-of-green-software/issues/54

[2022-11-14 14:26] holanita commented on #26
As of today (November 14), we made no progress on the interviews and none of the sections of the desk research are available for review yet. We are tracking the number of people who completed the survey though. From now on, [this spreadsheet](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_tuW2QHiJIOBjlR0OhjzuLg6aFFk/edit#gid=0) will be updated on an ongoing basis.

[2022-11-14 14:33] holanita commented on #11
From now on, KPIs will be tracked [in this spreadsheet](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_tuW2QHiJIOBjlR0OhjzuLg6aFFk/edit#gid=0). See also [this GH ticket](https://github.com/Green-Software-Foundation/state-of-green-software/issues/26).
Only Asim and Anita attended the last team call and Ismael has been out of reach since last week, so some tasks listed above are pending. St

[2022-11-14 14:41] holanita commented on #48
It turned out that Ismael will not be available today to give us updates or attend the meeting as per his Slack message. He should have some news for us tomorrow morning.

[2022-11-14 15:06] holanita commented on #45
As discussed with Namrata, anyone who includes their email address should be aware that their feedback will not be shared with any third parties.

[2022-11-14 15:17] holanita commented on #44
Just discussed with Namrata.
- I'll create a task for Jenya.
- Url should be grnsft.org/sogs/survey
- copy 1 for banner:
Be part of the largest green software survey ever
Survey ends 31 December 2021 (we can shorten December to Dec if needed)
Button: Take Survey Now [grnsft.org/sogs/survey]
- copy 2 for banner:
Help us understand the state of green software.
Button: Take Survey Now [grnsft.org/sog

[2022-11-14 15:43] holanita commented on #54
External for social:
- .../member-external Members to promote survey in their social channels (one custom link for all the members?)
- 1 collector for social is enough

GSF short links for social (do not split up, they are members too)
- linkedin
- twitter
- email (newsletter)

Meetup - we only engage the community if we do a webinar (create collector later?)

[2022-11-14 16:12] holanita commented on #42
@jawache shall we try to send this out tomorrow according to the original plans? Namrata has no access to Mailchimp yet, want me to go ahead and create a new simplified layout for the newsletter or do you want to get involved?

[2022-11-14 16:57] holanita commented on #45
I can't edit the survey right now as our Survey Monkey account has not been upgraded yet, but once that is done, I'll add a note to Q26 that _'We do not share individual-level data or survey responses with third parties without asking for and receiving your explicit permission.'_

[2022-11-14 17:04] holanita opened #55 "Create SOGS banner for website"
What: create new banner for the website
Why: to promote SOGS
When: asap

@Jenya-design we would like to replace the current Hackathon banner at the top of the website with a new one that promotes SOGS. We have two copy options for you, the second one is a bit shorter. Do you have capacity to work on this asap?

copy 1:
Be part of the largest green software survey ever
Survey ends 31 December 2021

[2022-11-14 17:30] holanita commented on #42
@NAMRATA-WOKE fyi the newsletter might go out on Wednesday especially if the hackathon blog post is going out tomorrow. Asim will put together this issue. Some content had been added to [this document](https://docs.google.com/document/d/1kWvG2KemEKXXTeUwe8qmMUeN_BOWoDHpKdo-RueSlM4/edit#) already.

[2022-11-14 17:40] holanita opened #56 "Create social cards for SOGS"
What: create social cards for Linkedin and Twitter
Why: to promote SOGS
When: by Thursday if possible

As metioned by @NAMRATA-WOKE [on this ticket](https://github.com/Green-Software-Foundation/state-of-green-software/issues/40).

@Jenya-design please create social cards for Twitter and LinkedIn to promote the survey.
- Namrata had created [one as an example](https://www.canva.com/design/DAFR5RMPZ

[2022-11-14 17:41] holanita commented on #40
@Jenya-design since the task has been created, I'm closing this ticket now. Please just make sure to save any new assets in the folder you shared with us here. Many thanks.

[2022-11-14 17:41] #40 closed

[2022-11-14 18:39] Jenya-design commented on #55
Hello @holanita
Thank you for creating the ticket, I'll share the update tomorrow as early as possible

[2022-11-14 18:42] Jenya-design commented on #56
Thank you @holanita @NAMRATA-WOKE
Please open the access to the dec with pre-drafted posts (I've sent the request)
I'll share the update on Thursday as you requested

[2022-11-15 08:10] Jenya-design commented on #55
Hello @holanita @NAMRATA-WOKE

Please review the update here
https://drive.google.com/drive/folders/1t-Ow-EdnpYyZwPuOMXwDSAUp8BAf2cyw?usp=share_link
I used copy 2 as it's shorter
Thank you

[2022-11-15 08:35] seanmcilroy29 commented on #24
@holanita - SM has been upgraded to Premier Annual.

[2022-11-15 08:54] holanita commented on #24
thanks @seanmcilroy29 everything looks good in survey monkey, the new feature seems to work fine

[2022-11-15 08:54] #24 closed

[2022-11-15 09:00] holanita commented on #45
This is now done. Had to tweak the text and the setup slightly.
<img width="849" alt="Screenshot 2022-11-15 at 9 59 50" src="https://user-images.githubusercontent.com/100846607/201875827-180712db-16e2-494a-812b-aed018e1e307.png">

[2022-11-15 09:00] #45 closed

[2022-11-15 09:05] holanita commented on #55
Hey @Jenya-design thanks for your quick action :) I like the design and I agree that the text should be short. I think I'd prefer the first copy though. How about replacing 'Help us understand the state of green software' with 'Be part of the largest green software survey ever'? @NAMRATA-WOKE what do you think?

[2022-11-15 09:07] holanita commented on #56
@Jenya-design I'm not the owner but I was able to send you an email and allow you to comment I think. Please double check whether it worked.

[2022-11-15 14:33] Leamsi9 commented on #48
Apologies for a chain of unexpected disruptions to my communications last week that interrupted my updates!

Desk research for the Business Case (pre-interview and survey data) is now complete. Currently extracting the headline data and data format for website. Should have website-ready v0.1 by tomorrow am.

[2022-11-15 14:35] Jenya-design commented on #55
@holanita @NAMRATA-WOKE
Please check the update v02 (I left the previous version as v01 just in case). Formats png and svg for both
https://drive.google.com/drive/folders/1t-Ow-EdnpYyZwPuOMXwDSAUp8BAf2cyw?usp=share_link

[2022-11-15 14:36] Leamsi9 commented on #49
Desk research is about 50% complete. Likely delayed by 1-2 days for website ready v.0.1 (excluding survey and interview data)

[2022-11-15 14:37] Leamsi9 commented on #50
Desktop research 25% complete (focused on regulations and standards). On track for deadline.

[2022-11-15 14:42] Leamsi9 commented on #52
I'm happy with the deadlines suggested in the #11 checklist, and will try and catch up with the delayed milestones.

[2022-11-15 14:51] Leamsi9 commented on #26
I have updated tickets #49 #50 #52

Current hard deadline is Jan 21 as per #11

Does this ticket need to remain open @holanita? It seems to overlap with several other tracking tickets, like #11 specially. If we do close it, we may need to ensure these milestones are captured in #11:

DESIGN: Jenya to create images and infographics
REVIEW: share with the WG & SMEs so they have the opportunity to re

[2022-11-15 15:33] Leamsi9 commented on #35
@zanete, @holanita and @osamajandali
I have now update the above google doc with data format and examples for all priority sections and a few more. That should be enough to unblock Osama with some lore ipsum.

Only tricky bit and probably requiring the most dev work is my suggestion for the References section in the google doc. @jawache and Osama need to review for concept fit and logistics.

[2022-11-15 15:34] holanita commented on #52
@Leamsi9 awesome saving a copy here for our future reference. I only opened this ticket because it has been really difficult to get a reply from you, so it became a whole task for me to chase you :) It's fine now, thanks for your confirmation.
<img width="905" alt="Screenshot 2022-11-15 at 16 33 23" src="https://user-images.githubusercontent.com/100846607/201960189-89d15e3d-a339-4e51-b7c0-aa4d3416

[2022-11-15 15:34] #52 closed

[2022-11-15 15:39] holanita commented on #26
@Leamsi9 there is no overlap. The thing is, I have tried to get some response from you on this ticket 13 days ago, but that response never arrived so I repurposed this ticket for myself to just track KPIs all by myself. It's good though that we finally have a confirmation on deadlines :)

[2022-11-15 15:44] holanita commented on #48
OK no worries, looking forward to V0.1!

[2022-11-15 15:45] Leamsi9 commented on #26
Ah I understand, and apologies for the comms: hackathon, children's
illness, spouse away and massive 1 day event commitment conspired against
me! Should be more responsive going forward!

On Tue, 15 Nov 2022, 15:39 holanita, ***@***.***> wrote:

[2022-11-15 15:47] holanita commented on #26
OK, no worries. Good to hear that things are getting better now on your end.

[2022-11-15 16:04] NAMRATA-WOKE commented on #55
I would remove the "state of green software" middle text and make the Take the Survey button more center-eye and add the "ends 31 Dec" to add a sense of urgency.

[2022-11-15 17:09] holanita commented on #54
Now that I have access to short.io, I'll take care of this myself to keep things simple. Links will be listed [here](https://docs.google.com/spreadsheets/d/1yYhCH8hvC-pSbJ0RZVkIPzWzMOE41VT5MKj1PQoexVA/edit#gid=0).

[2022-11-15 17:14] holanita opened #57 "Create custom exit page for Survey Monkey"
Why: those who complete the survey should be redirected to a custom exit page
What: create customer page

Steps:
- [x] finalize copy
- [x] create visuals if needed
- [ ] Osama/Asim to build a simple page

Copy suggested by Asim [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/46#issuecomment-1311912938)

- Share the survey to your audience (Click to Tweet, Linkedi

[2022-11-15 17:15] holanita commented on #57
@jawache I've created this ticket based on what we discussed on Friday. I recall you mentioned this would be easy to create in the CMS? So wondering if you want to do this yourself or if I should work with Osama on this?

[2022-11-15 17:33] holanita commented on #54
@NAMRATA-WOKE I've added a couple of comments for you in the doc as some links don't seem to be set up consistently

[2022-11-16 09:18] holanita commented on #55
@Jenya-design as we didn't hear form Namrata, please create the asset based on her instructions and ignore my last message. We don't have more time to wait as we wanted to update the website banner by last Friday. Thanks!

[2022-11-16 10:52] Jenya-design commented on #55
Thank you @holanita @NAMRATA-WOKE

Please review new options here
https://drive.google.com/drive/folders/1t-Ow-EdnpYyZwPuOMXwDSAUp8BAf2cyw?usp=share_link
I updated the design according to the last comment by @NAMRATA-WOKE, but there's one additional issue . From design point it doesn't makes sence to use only the icon for SoGS (withouth 'state of green software' wordmark) along with the complete G

[2022-11-16 10:58] holanita commented on #55
Many thanks @Jenya-design let's use the second one that looks a bit more simple. I'm closing this task and creating a new one for Osama so we can get this up on the website quickly.

[2022-11-16 10:58] #55 closed

[2022-11-16 11:00] holanita opened #58 "Replace top banner on website"
Why: the Hackathon is over and we have to promote SOGS from now on
What: replace the Hackathon banner with a new one that Jenya just created for SOGS
When: ASAP

Hello @osamajandali please replace the banner as explained above. Here is the new file to use, it's named as V2_final:
https://drive.google.com/drive/folders/1t-Ow-EdnpYyZwPuOMXwDSAUp8BAf2cyw

[2022-11-16 11:04] holanita commented on #58
Sorry forgot to add. As [suggested](https://github.com/Green-Software-Foundation/state-of-green-software/issues/44), by @NAMRATA-WOKE, please use this url: grnsft.org/sogs/survey

[2022-11-16 11:05] holanita commented on #44
Closing this ticket, as the task is now with Osama. Url and image have been shared with him.

[2022-11-16 11:05] #44 closed

[2022-11-16 11:07] holanita commented on #47
@NAMRATA-WOKE looks like our twitter and linkedin covers are now updated. Is there anything left to do here?

<img width="1237" alt="Screenshot 2022-11-16 at 12 07 19" src="https://user-images.githubusercontent.com/100846607/202164661-85bcf880-0833-4544-ba9e-8016d57b4e69.png">

[2022-11-16 13:09] holanita commented on #53
- [ ] students, universities, researchers still TBD
- [ ] BCG C Suite discussion in progress
- [ ] Roles indicated manually for question 1: 35 in total (6 product managers, 4 researchers, 3 analysts, etc.)

[2022-11-16 13:48] NAMRATA-WOKE commented on #47
No we can close this!

[2022-11-16 13:50] NAMRATA-WOKE commented on #54
Will take a look today.

[2022-11-16 14:25] #47 closed

[2022-11-16 22:27] osamajandali commented on #58
Done!

[2022-11-17 10:14] holanita commented on #22
Hi @Stephaniestocker how is it going? Can you add your progress to the file or let us know if you ran into issues.

[2022-11-17 10:40] holanita commented on #58
@osamajandali thanks. The banner looks a little different from the image we have in the above folder. [This is the direct link ](https://drive.google.com/file/d/1_AfUD7QR89FIxoHYVH05t0vq1vcNN8Yk/view?usp=share_link)to the png. Both the text and placement are a bit different on the website now. Can you match Jenya's png?

<img width="1440" alt="Screenshot 2022-11-17 at 11 39 14" src="https://user-i

[2022-11-17 11:15] holanita commented on #54
@NAMRATA-WOKE lmk when you have news on this. I'll be off for a few days so it would be nice to figure this out today.

Maybe working with comments in the google doc doesn't work for you so let me ssummarize everything here:

1. I've linked the **newsletter** one to Survey Monkey and I can already see conversions as it was used [in this email](https://mailchi.mp/greensoftware/decarb-software-goes-

[2022-11-17 11:42] Jenya-design commented on #56
Hello @holanita @NAMRATA-WOKE
Please review the update for canva templates

[Twitter posts 1600 x 900](https://www.canva.com/design/DAFSIrO24Bg/l-UTipvO4uCiU94ARk5EXg/edit?utm_content=DAFSIrO24Bg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton)

[LinkedIn posts 1200 x 1200](https://www.canva.com/design/DAFSJU_PyyY/Z_AC1OT1-aa4mQuko_xLiA/edit?utm_content=DAFSJU_PyyY&utm_campaign=de

[2022-11-17 11:46] holanita commented on #56
Thanks a lot Jenya – @NAMRATA-WOKE please review this today so Jenya can still make edits if needed.

[2022-11-17 13:30] #58 closed

[2022-11-17 15:40] holanita opened #59 "Reminder: remove unnecessary repo"
This is just a reminder for myself to follow up with Ismael and make sure his repo is deleted as discussed 28 days ago:
https://github.com/Green-Software-Foundation/landscape-of-landscapes/issues/1

[2022-11-17 15:54] holanita opened #60 "Incorporate the Podcast into our marketing plans"
Hey @NAMRATA-WOKE so in [our marketing calendar](https://docs.google.com/spreadsheets/d/1DkXXU9SLX4Wfsd1lf1c4oC0_3ZVsuSSiy9PYABMLAMI/edit#gid=541890420) we had the podcast scheduled for November 11, but in the end Episode 10 was published on November 10. Just wanted to make sure you are in touch with Chris and you are incorporating the podcast into your marketing activities/posts?

[2022-11-17 15:58] holanita opened #61 "Promote SOGS to software dev group on Linkedin"
Hey @NAMRATA-WOKE so we have this task in our marketing calendar about promoting the survey to a software dev group on Linkedin. This hasn't been updated for a while so I was wondering if this is done or is still to do? See here:
https://docs.google.com/spreadsheets/d/1DkXXU9SLX4Wfsd1lf1c4oC0_3ZVsuSSiy9PYABMLAMI/edit?disco=AAAAjnbKt4w

[2022-11-17 16:02] NAMRATA-WOKE commented on #61
Yes mark it as done.

Sent from my iPhone

[2022-11-17 16:21] #61 closed

[2022-11-17 16:24] holanita commented on #42
Newsletter went out today. Next week we need to figure out the process so Urs and/or Namrata can take this over from Asim. Will add a new task to the new agenda tomorrow.

[2022-11-17 17:01] holanita commented on #54
@NAMRATA-WOKE hey thanks for the call. so here is the final list of short links:

**For members:**
Internal: remind them to use the link that Asim had shared with them or they can contact me if they don't have it
External: they can use this one for each of their external channels: https://grnsft.org/sogs/survey/member-external

**For us internally:**
Newsletter: https://grnsft.org/sogs/survey/news

[2022-11-18 07:47] holanita opened #62 "Fix survey access issues with Sarah / GS"
GS can't access Survey Monkey, nor can they use a google form. Working with Sarah on an alternative solution.

[2022-11-18 08:02] holanita opened #63 "Alternative survey for the C Suite"
_Nov 28: on hold and to be reconsidered next year as per Elise's request. Discussed this with Namrata briefly yesterday and she suggested to use the word contributing partners instead of sponsors as there are no monetary considerations._

Next steps as discussed with Asim on Wednesday:

- [x] Sean to confirm any requirements we might not be aware of
- [x] Waiting for Juliette/Niels to share their

[2022-11-18 08:03] holanita commented on #63
@jawache did you have the chance to discuss this with Sean? I'm waiting for Juliette/Niels and Tamara/Ismael. Will be off next Monday and Tuesday so trying to follow up as much as possible, but please keep your eyes on this early next week if you can.

[2022-11-18 09:42] holanita commented on #56
Closing this, as we haven't heard from Namrata, but Jenya is out of office already. We can open another ticket if needed.

[2022-11-18 09:42] #56 closed

[2022-11-18 09:45] holanita commented on #54
Closing this. From now on, I'm tracking conversions ([here](https://docs.google.com/spreadsheets/d/1yYhCH8hvC-pSbJ0RZVkIPzWzMOE41VT5MKj1PQoexVA/edit#gid=0) and [here](https://docs.google.com/spreadsheets/d/1yYhCH8hvC-pSbJ0RZVkIPzWzMOE41VT5MKj1PQoexVA/edit#gid=0)). Short link for partners will be discuss on the other ticket if needed.
- https://github.com/Green-Software-Foundation/state-of-green-so

[2022-11-18 09:45] #54 closed

[2022-11-18 09:47] holanita commented on #43
@NAMRATA-WOKE you were going to create a package for partners similar to the one mentioned above. Do you have that new file somewhere already? As for the file you already have, it would be nice to keep it as is, as members might ask for guidance later so it's good to have something to share with them.

Next steps:
- [ ] Namrata to create package for partners
- [ ] Asim to review package and confir

[2022-11-18 09:48] holanita opened #64 "Discuss new layout and process for newsletters"
@jawache this isn't just related to the SOGS project, but I've tried so many things and this time I'm hoping that if I put this in the SOGS marketing agenda, this will work :)

I think we need more clarity on how you envision
- the new **layout** of the newsletter (you sent us 2 examples via email)
- the new **process** of creating content for the newsletter (who does what)

To be discussed
- If a

[2022-11-18 09:48] holanita commented on #42
Marking this closed as Asim sent out the external newsletter yesterday in the end. To be continued here:
- https://github.com/Green-Software-Foundation/state-of-green-software/issues/64

[2022-11-18 09:48] #42 closed

[2022-11-18 10:02] holanita opened #65 "[PM] Weekly Marketing Review #2"
This is a marketing checklist & agenda for the second week **between Nov 21 and Nov 25**.

Meetings:
- Next meeting scheduled for Monday, **Nov 21**. Anita will be out of office.

Important:
- **Review conversions** [here for the whole SOGS project](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_tuW2QHiJIOBjlR0OhjzuLg6aFFk/edit#gid=0) or [here for short links only](https://docs.google.com

[2022-11-18 10:02] holanita commented on #46
To be continued here:
- https://github.com/Green-Software-Foundation/state-of-green-software/issues/65

[2022-11-18 10:02] #46 closed

[2022-11-18 10:09] holanita commented on #65
@jawache @NAMRATA-WOKE as I'll be off next Monday, you may use this to review next week's agenda during the call.

[2022-11-18 10:12] holanita commented on #57
@jawache see above. Osama was out of reach for a while, but he seems to be back now so if you want him to do this, I can work with him from next Wednesday.

[2022-11-18 12:17] jawache commented on #63
@holanita He agreed we need to raise with SC and offer them the same terms/opportunity.

[2022-11-18 17:15] NAMRATA-WOKE commented on #46
@holanita where did we land with the drip campaign suggestion from @jawache? Rather than having multiple drips, can we consolidate efforts and enlist respondents into an existing audience to keep them engaged with the Foundation, perhaps the main external newsletter that goes out?

[2022-11-18 17:15] NAMRATA-WOKE commented on #65
Sounds good, thanks!

[2022-11-19 03:08] holanita commented on #46
@NAMRATA-WOKE I don't think this would apply to member orgs (unless I misunderstood something) as we communicate to them directly. a good example of enlisting new respondents is [this](https://github.com/Green-Software-Foundation/state-of-green-software/issues/57) that we had in mind. as far as I understood, the newsletter is supposed to be our main channel for this and the [process and strategy](

[2022-11-21 10:22] zanete commented on #58
@holanita is this a duplicate of https://github.com/Green-Software-Foundation/ops-admin/issues/83 ?

[2022-11-21 15:26] jawache commented on #64
I agree (I actually created that newsletter and format when I was at ClimateAction.tech ;) ) There was a ton of resistance from the people but now people talk about it as one of the best features of CAT!

The trick is getting enough information to put in there weekly without it requiring a huge effort. The only way this is going to work is if the process becomes effectively brainless. My suggestio

[2022-11-21 15:47] jawache commented on #57
@osamajandali is there a quite way we can add another page to the SoGS website, that might be best - very quick and fast please :)

**Thank you so much for completing the survey!**

Sign up below if want access when it's released.
(The same form as is on the SoGS website)

Share this with friends, family members or on social media

Email Link - mailto:?subject=Do%20you%20want%20to%20make%20a%20dif

[2022-11-21 15:49] NAMRATA-WOKE commented on #64
Sure I'll put something together for this Friday. Another "section" I recommend adding is "Green Software Gigs". Consolidating career opportunities in a newsletter and on social is a big crowd puller!

[2022-11-21 15:57] jawache commented on #63
I've instead started raising with individuals from the SC, seeing what they say - if there is a strong negative vibe then we'll know soon. Starting to suspect there will be, not sure how to sell it in a way that works for everyone 🤷‍♂️

[2022-11-22 11:38] zanete commented on #57
@jawache @holanita please CC me in tickets that are for Osama. I'm organising his board and if i'm not aware of the task, it risks not happening because it's not planned in a sprint. Once we have a better process established, this step could be skipped, but for now that's the best way to ensure that stuff will get done.

I'm assuming there is no need for visuals here and the next step is that page

[2022-11-22 12:03] jawache commented on #57
@zanete no need to create new visuals, can reuse the same ones from the existing sogs site. Time is important here so whatever we can get done in a few hours is fine.

[2022-11-22 20:10] NAMRATA-WOKE commented on #64
@jawache will you create the google form that will go at the bottom of every newsletter asking for things to post? Let me know if you want me to do that. Also, who will be scanning responses?

[2022-11-22 21:13] jawache commented on #57
@osamajandali could you get something quick together by EOD tomorrow (Wed) it doesn't have to be great but we've only got a few weeks to push the survey so need something here ASAP.

[2022-11-23 08:49] holanita commented on #64
@NAMRATA-WOKE fyi [this](https://docs.google.com/forms/d/19W4MffxDd6KNAqfuryQwzJnIz7KvXvAfn5R37pxqXKk/edit) is the form we've been using so far. feel free to create a new one if you have to. also, if you are the one who puts together the content, it might be best that you scan responses too. I guess you can turn to Asim if you are unsure about something, but the more you can do without him the bet

[2022-11-23 10:15] holanita commented on #58
@zanete could be. I'm sorry, I won't have capacity to keep an eye on your cops tickets. I'm executing the tasks that I am given for marketing, but I can't check for duplicates :(

[2022-11-23 10:56] holanita commented on #43
@jawache @NAMRATA-WOKE okay noted. just wanted to highlight that this ticket is about partners like CNFC. these two things have been mixed up since the beginning so just wanted to make sure we send the right stuff to the right audience.

[2022-11-23 10:59] holanita commented on #60
I'm not sure if this has been discussed while I was off @NAMRATA-WOKE? I don't know much about the podcast, but I just found [this update from Zanete](https://github.com/Green-Software-Foundation/ops-admin/issues/11#issuecomment-1324332930) in my inbox after my return. might be useful.

[2022-11-23 11:35] holanita commented on #62
No solution so far. Sarah suggested GS employees could help promote the survey by sharing in their social channels.

[2022-11-23 11:46] holanita commented on #60
Here is a new one from Asim: https://github.com/Green-Software-Foundation/ops-admin/issues/84#

[2022-11-23 15:24] NAMRATA-WOKE commented on #43
@holanita i can finalize this package today I just need to know if they are also getting custom URLs either for internal or external use.

The last time we spoke, my recommendation was to provide them custom collector links for external outreach, versus internal since their organizations might be small but their networks massive!

[2022-11-23 16:38] holanita commented on #43
@NAMRATA-WOKE unsure which package you mean by 'this' package as the ticket is about _partners_, but Asim was talking about _members_ above

- **package for partners** (by _partners_ we initially meant orgs like CNFC) - do you have this package approved by Asim already? let me know if you do and I will create a survey monkey collector and shortio link for you.
- **package for members** (_members_

[2022-11-23 17:04] NAMRATA-WOKE commented on #43
@holanita I was talking about partners. Yes it's approved I need the appropriate shortlinks to finalize the doc. All sorted on the members front.

[2022-11-23 19:23] NAMRATA-WOKE commented on #60
@holanita
I am not socializing the podcast. I believe that's being handled by the podcast team - not sure who all is involved in marketing the podcast at the moment. So, I cannot influence the URLs and copy they use!

[2022-11-23 22:11] holanita commented on #60
ok noted. I wasn't aware that there is someone else posting on social media not just you. I suggest we discuss this in our next call with @jawache to avoid duplicating or missing anything just like it happened with the website banner recently.

[2022-11-23 22:16] holanita commented on #43
@NAMRATA-WOKE so you need two links? one for external and one for internal? or two for each partner? and who are they in the end? please let me know what exactly has been agreed with Asim. I don't have access to the partner package so I am not aware of the details. it's really difficult to work without knowing the context

[2022-11-23 23:26] NAMRATA-WOKE commented on #43
@holanita you were the one who showed me the list that Asim added to- I think it was a word doc. I'll try and find it tomorrow. Hard to navigate on my phone and I'll be away from my computer for the rest of the night.

My recommendation is to measure the # of responses we get from each non-member Asim reaches out to personally. I think one collector for internal/external is fine. I wouldn't offer

[2022-11-24 06:54] holanita commented on #43
@NAMRATA-WOKE let me have a quick call with @jawache because this is becoming way too messy. if Asim hasn't confirmed the list in my absence, then this is not good to go yet. I thought you guys discussed this recently.

[2022-11-24 10:53] holanita opened #66 "Create marketing package for members"
Who: Namrata
When: early next week as discussed previously with Asim
What: send a follow-up email to our members

Details:
- send a follow-up email to all the members who had been contacted by Asim already and attach the [package for members](https://docs.google.com/document/d/1BZk16PONxDKKl4vN2w2qJP72pncV1v0Pe06z-vQC4yw/edit#heading=h.439blf1uqmxe)
- make sure you reply back to the emails Asim ha

[2022-11-24 10:56] holanita commented on #43
@NAMRATA-WOKE all good, here is a quick summary on what we discussed with Asim just now:
- Asim will send out the emails to the partners listed above in my first comment.
- **CNCF** and **Hyperledger** will get custom urls as they are the most likely to generate traffic.
- For the others, we just need one url (no need to separate internal and external channels!)

Could you duplicate your member pa

[2022-11-24 10:57] holanita commented on #64
@NAMRATA-WOKE hi. just wanted to follow up to make sure this is on track to be sent out tomorrow. let me know if you need any help.

[2022-11-24 11:00] holanita commented on #57
@osamajandali how is this going? let us know if this is blocked or there are any other issues. cc @zanete

[2022-11-24 11:03] holanita commented on #65
Next steps as of today:
- Osama should have created the exit page **yesterday**, following up with him and Zanate [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/57)
- We should send out the newsletter **tomorrow**, waiting for Namrata's input [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/64)
- Namrata to send out the follow-u

[2022-11-24 11:23] osamajandali commented on #57
I am working on this and hopefully will be ready by today.

[2022-11-24 11:46] holanita commented on #60
I'm closing this task. Asim confirmed today that Chris is taking care of this.

[2022-11-24 11:46] #60 closed

[2022-11-24 12:20] holanita commented on #22
@Stephaniestocker @Leamsi9 Hi! Hope you guys managed to sort out the initial issues around scheduling. Let me know if you need any input from me. In the file, I can see two dates for 21st and 22nd but I guess those were cancelled. When would interviews start happening?

[2022-11-24 13:49] holanita commented on #57
@osamajandali thanks just one comment from my end to adjust the copy a bit:
Replace this: _Sign up below if want access when it's released_
With this: _Sign up below if you want to receive our report when it's released_

[2022-11-24 13:55] osamajandali commented on #57
@holanita Done

[2022-11-24 14:10] holanita commented on #57
@osamajandali perfect thanks. I've set up the redirect in Survey Monkey so I'm closing this ticket.

[2022-11-24 14:10] #57 closed

[2022-11-24 14:13] holanita commented on #63
Follow up on Dec 1 / waiting for feedback from Elise

[2022-11-24 14:14] holanita commented on #62
Told Sarah about the marketing package that Namrata is going to send out early next week. That's all we can think of atm.

[2022-11-24 15:04] NAMRATA-WOKE commented on #64
I don't have access to send out the newsletter. Waiting on @jawache to approve content and structure.

[2022-11-24 15:11] holanita commented on #64
@NAMRATA-WOKE I see. Where is your draft saved? I can't see anything in Mailchimp nor [in our shared folder](https://drive.google.com/drive/folders/1cAqD--DS4WsYwC7HJZSRBugUnO3-VxT6).

[2022-11-24 15:41] NAMRATA-WOKE commented on #64
Here is the doc to the newsletter: https://docs.google.com/document/d/17Hwj3nIO7swdpjYesDqlGIpFsBdIrx3JIv94JiJgSho/edit

[2022-11-24 15:55] zanete commented on #58
@holanita is it that someone tells both of us what needs to happen and we both try to action at the same time? :D

[2022-11-24 18:16] holanita commented on #64
@NAMRATA-WOKE ok. can you move this to [our shared folder](https://drive.google.com/drive/folders/1cAqD--DS4WsYwC7HJZSRBugUnO3-VxT6)? I'll let @jawache know that you are waiting for his approval. I think he wasn't aware. please use our shared folders and keep the github tickets updated so we can keep track of our progress.

[2022-11-24 18:25] holanita commented on #58
@zanete we talked about this with Asim and Namrata when we put together the marketing calendar at the beginning. it sounded like an actionable item, I wasn't aware that it was in progress already. I've asked Asim about this today and he says it was just a one-off thing and there should be no other overlaps.

[2022-11-24 18:41] NAMRATA-WOKE commented on #43
Sounds good. I can have that ready in a couple of hours so will share the doc in the new ticket you created.

[2022-11-24 20:29] NAMRATA-WOKE commented on #64
@jawache not sure you got the notifications yesterday re: reimagined newsletter. Here it is: https://docs.google.com/document/d/17Hwj3nIO7swdpjYesDqlGIpFsBdIrx3JIv94JiJgSho/edit?usp=sharing

I also tagged @seanmcilroy29 for content in case he has updates from the WG that we can include.

Let me know what you think.

cc. @holanita

[2022-11-24 20:34] NAMRATA-WOKE commented on #66
https://docs.google.com/document/d/1q88-cp_qrR7GangLJhUWDvP-JbcvhI45Rs4Cv9ka1Ec/edit?usp=sharing

@holanita please share the collector link for partners. I'll create the appropriate short link. This document is for partners, not including CNCF and Hyperledger because they will also get a custom URL. For them, they'll receive a separate one more like the members. Please confirm: will GSF offer CNCF

[2022-11-24 22:11] jawache commented on #64
Thanks @NAMRATA-WOKE it's a good start, I don't think this is going to be the final format In the interest of making sure we have a weekly newsletter let's send this one out as it is on Friday.

As a requirement for this newsletter I want a process that takes max 1hr from 1 person a week and that anyone can take over any week without confusion. I'd like a newsletter process designed around these c

[2022-11-24 22:36] jawache commented on #64
Something else that's interesting (and I like) is that Hyperledger use this process to plan their weekly newsletters: https://wiki.hyperledger.org/pages/viewpage.action?pageId=78021660

We could do the same with issues.

- Use GH issues to flesh out the content of the newsletter.
- Each GH issue is for a specific weeks newsletter, the issue already has the headings, we flesh out the content during

[2022-11-25 12:20] holanita commented on #64
Sounds good to me @jawache I had [a GH issue](https://github.com/Green-Software-Foundation/ops-content/issues/12) for the newsletter that was due on Nov 15. I'll create something similar for next week's issue. The issues will live in the content repo and any PM can add them to their own repo if they want to.

[2022-11-25 12:50] holanita commented on #64
So I've created the above issues for the latest newsletters. Let me know if you agree with the content of [this ticket](https://github.com/Green-Software-Foundation/ops-content/issues/15).

[2022-11-26 18:35] osamajandali commented on #35
@Leamsi9
Can I have the data and the type of graph for each section?
If it’s unavailable, can I have dummy ones to visualize what kind of data I should put there

[2022-11-27 15:54] jawache commented on #35
@Leamsi9 I remember we spoke before the 10th regarding getting a fake section completed for @osamajandali. You can use fake text, fake content, fake reports, fake results but real questions (we are at the stage where we can assign specific questions from the survey to specific sections in this report).

Can you work on this tomorrow morning and share a first draft before the Policy WG call tomorro

[2022-11-28 10:36] holanita commented on #48
Adding @Leamsi9 's [latest Slack message](https://greensoftwarefdn.slack.com/archives/C0474E5KCTH/p1669630690260999) to make it easier to track and review:

Here is a first draft of the Business Case which can be used as a template, although it would be good to get your view on it and maybe jump on a call? I have tried to keep it short on text and visually focused as we discussed, with illustrativ

[2022-11-28 10:37] Leamsi9 commented on #35
Here is a first draft of the Business Case section. It would be good to incorporate the Goldman Sachs survey data here too, but needs more discussion.

https://docs.google.com/document/d/1cgy-38nOnW3L98d7mr4OnInHVxKpR2zd/edit?usp=sharing&ouid=102759123097087113446&rtpof=true&sd=true

[2022-11-28 11:10] holanita commented on #48
Just adding a note here that this is 19 days behind schedule.

[2022-11-28 11:11] holanita commented on #51
Just adding a note here that we have 1 week left until the deadline that we had initially set for this.

[2022-11-28 11:12] holanita commented on #50
Just adding a note here that this is 3 days behind schedule.

[2022-11-28 11:12] holanita commented on #49
Just adding a note here that this is 11 days behind schedule.

[2022-11-28 11:14] holanita commented on #33
It might be time to put this on the back burner seeing how much all your other tasks are behind schedule @Leamsi9. What do you think?

[2022-11-28 11:15] holanita commented on #20
Remains parked. This is less and less likely to happen seeing the delay on all other tickets @Leamsi9.

[2022-11-28 11:15] holanita commented on #63
TBD in the WG call today.

[2022-11-28 11:16] holanita commented on #32
@Leamsi9 please give us an update on this before today's WG call. This has been pending for a very long time.

[2022-11-28 12:42] holanita opened #67 "[PM] Weekly Marketing Review #3"
This is a marketing checklist & agenda for the week **between Nov 28 and Dec 2**.

Meetings: next meeting scheduled for Monday, **Nov 28**.
KPIs and conversions: [for the whole SOGS project](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_tuW2QHiJIOBjlR0OhjzuLg6aFFk/edit#gid=0) or [for short links only](https://docs.google.com/spreadsheets/d/1yYhCH8hvC-pSbJ0RZVkIPzWzMOE41VT5MKj1PQoexVA/edi

[2022-11-28 12:43] holanita commented on #65
Closing this ticket. Pending items moved to the new agenda/week. To be continued here:
- https://github.com/Green-Software-Foundation/state-of-green-software/issues/67

[2022-11-28 12:43] #65 closed

[2022-11-28 19:41] holanita commented on #11
The WG call has been cancelled today. Both the interviews and desk research are behind schedule. We are looking for alternative solutions / help to speed things up. We also need to increase are marketing efforts relating to the survey.

[2022-11-28 19:48] holanita commented on #64
I'm closing this. We'll clarify the last steps here on the fly:
- https://github.com/Green-Software-Foundation/ops-content/issues/15

[2022-11-28 19:48] #64 closed

[2022-11-28 20:20] tamigraph commented on #11
I might be able to help out with the desk research and interviews if it will help us stay relatively on track.

[2022-11-29 07:16] holanita commented on #35
@Leamsi9 – @jawache gave you very specific details on how to flesh out the content. See above and on Slack as well. We talked about this at the beginning too. Please make sure the content is aligned with what Asim had asked for. As a reminder, this ticket is for Osama so you should only share stuff here once it's good to go. Let's avoid any unnecessary confusion.

Also, if by Goldman Sachs you mea

[2022-11-29 07:25] holanita opened #68 "Map of the Green Software Ecosystem"
@Leamsi9 as requested by Asim – For the map sections, grab some screenshots of other "maps" so we can get on the same page on what you are thinking of for this section and so Osama has some ideas for how to design this.

[2022-11-29 07:35] holanita commented on #48
@Leamsi9 see below what @jawache has asked for in Slack. The conversation should continue here in this issue.

- [ ] review and respond to Asim's comments in the [google document](https://docs.google.com/document/d/1cgy-38nOnW3L98d7mr4OnInHVxKpR2zd/edit)
- [ ] put the headings, subheadings back in the document (I've added the table of contents for you to speed things up)
- [ ] add some content to

[2022-11-29 07:37] holanita commented on #49
@Leamsi9 just a reminder that @jawache asked that you continue with TOC once the business case is done. Content should be added to [this google document](https://docs.google.com/document/d/1cgy-38nOnW3L98d7mr4OnInHVxKpR2zd/edit). This is urgent as we are very much behind schedule. What is your ETA?

[2022-11-29 07:38] holanita commented on #50
Delayed due to the delay with the business case and culture.

[2022-11-29 07:39] holanita commented on #51
Delayed due to the delay with the business case, knowledge and culture.

[2022-11-29 07:48] holanita commented on #32
@Leamsi9 in the last 25 days you haven't even replied. Can you tell us something? Anything? :)

[2022-11-29 07:53] holanita commented on #27
@jawache 79 (!) people signed up for a follow-up interview so far. Shall we focus on this? Can we do this ourselves? I could create a new survey with open ended questions to speed this up.

[2022-11-29 07:58] holanita commented on #22
This task got stuck in many ways:
- We don't have the draft questions that Asim asked for in his first comment above. Have been following up with Ismael for 25 days with no luck. See [this ticket](https://github.com/Green-Software-Foundation/state-of-green-software/issues/32).
- Steph tried to schedule some interviews but the timings didn't work for Ismael and there has been no progress since then

[2022-11-29 08:00] holanita commented on #63
Elise asked that we reconsider this for next year. @jawache will you email BCG to let them know?

[2022-11-29 08:02] holanita commented on #33
@jawache do you think it makes sense to work on this? Shall I cancel due to lack of time and action on Ismael's end?

[2022-11-29 08:02] holanita commented on #20
@jawache do you think I should cancel this one due to lack of time? We never actually wanted to have this report.

[2022-11-29 09:01] holanita commented on #43
@NAMRATA-WOKE the sponsorship idea that we talked about yesterday has been cancelled in the end. I've updated the file and [added you to some more companies](https://docs.google.com/spreadsheets/d/1x_R9Z0qIn7WGvSA_tuW2QHiJIOBjlR0OhjzuLg6aFFk/edit?disco=AAAAken_9Xo). Can you reach out to all of them and mark them when you are done? I'll take care of the ones assigned to me. Thanks!

[2022-11-29 09:49] jawache commented on #48
I always imagined the business case to be a summary section. The other research _leads into_ the business case. So the business case for green software is something we conclude from our other research in the report, insights from the survey etc...

It's a very important section but that doesn't mean it needs to be completed first, in fact I would say for this to be tied into the rest of the report

[2022-11-29 10:08] jawache commented on #35
To be clear we don't need completed draft sections to start the design process, we need something which will start what I imagine will be a lengthy back and forth conversation design reviews etc... I also expect the design to inform the structure of the final report.

It's unclear _exactly_ what we will need to get a design that we are confident will work but to begin the process I think we'll nee

[2022-11-29 10:20] holanita commented on #48
@jawache okay noted. what would you call the text that @Leamsi9 had already written? he calls it the _business case_.

[2022-11-29 12:38] holanita commented on #27
@tamigraph do you think we could take action on this? Asim will be focusing on interviews with the SC.

[2022-11-29 12:41] holanita commented on #11
Thanks @tamigraph! Asim suggested he would take over the interviews with the SC. You had another idea earlier about some additional interviews that might be worth revisiting – see [here](https://github.com/Green-Software-Foundation/state-of-green-software/issues/27). Also, we'll have a chat with Ismael to figure out how we can help with the desk research. I'll let you know as soon as I know more.

[2022-11-29 14:16] holanita opened #69 "Tasks for Ismael for December"
As discussed with Asim recently, we might start doing weekly sprints with Ismael to make things easier. A call has been scheduled with Ismael for tomorrow. Topics that we will potentially discuss:

1. asap: input for Osama (just lorem ipsum) so he can start working on at least one TOC section
2. asap: interviews - we need the draft questionnaire, Asim will interview the SC, does Ismael have any ca

[2022-11-29 14:39] Leamsi9 commented on #69
All 5 of these tasks completed today, and updated in corresponding tickets.

[2022-11-29 15:04] Leamsi9 commented on #68
This is done, in the Maps section 3 of https://docs.google.com/document/d/1AhkCZWPcdFJBV_nk27xhip-2aiW-RBmb/

[2022-11-29 15:08] Leamsi9 commented on #48
I have incorporated the business case section into: https://docs.google.com/document/d/1AhkCZWPcdFJBV_nk27xhip-2aiW-RBmb/

Will respond and incorporate Asim's comments directly in the document, not here.

[2022-11-29 15:12] Leamsi9 commented on #33
Laurent Devernay has agreed to be a reader (lead author of https://almanac.httparchive.org/en/2022/sustainability, I am waiting for confirmation from Avanade, but they had already expressed an interest in principle in doing this, so I would expect that to be in place this week. It would just be a matter of giving them comment access to a copy of the doc and soliciting comments 2-3 times between no

[2022-11-29 15:14] Leamsi9 commented on #32
Survey questions will be ready today.

[2022-11-29 15:22] Leamsi9 commented on #49
If that's OK, I will move to Culture first, as it is closer to done, desk research wise, and the Knowledge one may change from interview input.

In order to keep Asim's comments I had to make a copy of that doc, so he new, equivalent doc containing the whole report is: https://docs.google.com/document/d/1ahV9DCoS16rIJXF1c4-6wYf9sNcIXUxrFEfibW4Q54c

[2022-11-29 18:59] Leamsi9 commented on #22
Hello, I have completed the interview questions for the Research Community, the GSF SC and Big Tech. Will be adding the educator and regulator interviews next.
https://docs.google.com/document/d/1rNS3I7llOAAUkqDyO_SPCr5hgEdJ4UGQMiNdnolc2RA

[2022-11-29 19:03] Leamsi9 commented on #69
4. unblocked for the interviews Stephanie is booking.

[2022-11-30 09:44] Leamsi9 commented on #20
Yes, I understood we decided not to move forward with this when planning COP

[2022-11-30 10:01] Leamsi9 commented on #69
4. Is complete
5. Happy to collaborate with Tamara on desk research and interviews, likewise with Stephanie and maybe Doha on setting up interviews. There is also design work, particularly around charts and graphs, and we discussed at the start the possibility of copy editing by Urs.

[2022-11-30 12:26] holanita commented on #35
@Leamsi9 let's discuss in the upcoming call as I can't see it under culture.

[2022-11-30 16:53] holanita opened #70 "Survey V2 Ideas"
Ideas that have come up since finalizing the survey and that could be added to the next version:
- Add a question about the **location/country** of the respondent
- Add a question about whether they are using the **SCI** in their company

_This list will be updated on a continuous basis as needed._